<div data-ng-controller="ChangeKortaTokenController">
<br/>
<div style="padding-bottom:5px;background: #939393;">
 <h3 style="margin: 0;text-transform: uppercase;display:inline;"><b class="marginleft10" style="font-size: 20px;color: #FFFFFF;">{{'label.add.kota.Info'|translate}}</b></h3>
</div>
<form name="changeTokenForm" novalidate action="https://netgreidslur.korta.is/testing/" method="post" class="form-horizontal well">
<br/>
		<input name="amount" type="hidden" value="{{amount}}">
		<input name="currency" type="hidden" value="{{currency}}">
		<input name="merchant" type="hidden" value="{{kortaMerchantId}}">
		<input name="terminal" type="hidden" value="{{kortaTerminalId}}">
		<input name="description" type="hidden" value="{{description}}">
		<input name="token" type="hidden" value={{tokenVal}}>
		<input name="do" type="hidden" value="{{doAction}}">
		<input name="lang" type="hidden" value="{{optlang}}"> 
		
		<input type="hidden" name="name" value="{{fullName}}">
		<input type="hidden" name="address" value="{{address}}">
		<input type="hidden" name="email" value="{{emailId}}">
		<input type="hidden" name="email2" value="{{emailId}}">
		<input type="hidden" name="zip" value="{{zipcode}}">
		<input type="hidden" name="city" value="{{city}}">
		<input type="hidden" name="country" value="{{country}}">
		<input type="hidden" name="phone" value="{{mobileNo}}">
		<input type="hidden" name="terms" value="{{terms}}">
		<input type="hidden" name="readonly" value="Y"> 
		
		<input name="checkvaluemd5" type="hidden" value={{md5value}}>
		<input type="hidden" name="downloadurl" value="{{downloadurl}}">
		<input type="hidden" name="refermethod" value="REDIRECT">
		<input type="hidden" name="refertarget" value="_top">

		<fieldset>
			<div class="control-group">
				<label class="control-label" >{{ 'label.do.action' | translate }}<span class="required">*</span></label>
				<div class="controls">
						<input type="text" data-ng-model="doAction" data-reqiured data-late-Validate disabled/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >{{'label.description' | translate}}<span class="required">*</span></label>
				<div class="controls">
					<textarea rows="2" data-ng-model="description" data-reqiured data-late-Validate disabled></textarea>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				    <input type="checkbox" name="checkbox" data-ng-change = "termsAndConditionCheck(terms)" data-ng-model="terms" data-ng-true-value="Y"  data-ng-false-value="N" data-reqiured > 
				    <span> {{'label.agree' | translate}} <a data-ng-click="termsAndConditionsFun()" style="color: #0066cc;text-decoration: underline;">
					    		{{'label.Terms.Conditions' | translate}}</a> 
					</span>
				</div>
			</div> 

		</fieldset>
		<div class="offset3">
			<a id="cancel" href="#/profile" class="btn">{{'btn.cancel' | translate}}</a> 
			<button id="submit" type="submit" data-ng-click="submit()" data-ng-disabled="terms == 'N'" class="btn btn-primary">{{'btn.submit' | translate}}</button>
		</div>
</form>
	<script type="text/ng-template" id="termsandconditions.html">
		<form  class="form-horizontal well" style="border:0px;width:650px;">
			<h4><strong>Terms and Conditions</strong></h4>
			<div>Read and accept the following agreement to continue.</div><br/>
			<div style="max-height:300px; overflow-y:auto;border:1px solid;padding:10px;">
				I will be showing how to create a Page and add content toit .ok sir Today I want all off you to start puting the feature 
			    functionality that has been developed No matter on spelling / Sentence / Grammer .. Just add the data .. Will review as well we can get
				it reviewed by our Pavan if necessary .. If the information is available it will be easy for every on to know as Knowledge base .. and address
				the Enhancements Quickly .. Well now I will add One Page.1. How to add a Page 2. Basic Format to use while adding the content to that Page
				The Structure is like this .. First Main Page as landing Page .. http://wiki.openbillingsystem.com/mw19/ Here you can see 6 Sections .. But we are going to use
				the First one -- Open Billing System Every click in wiki is basically a Page ..With in the Page we have the relavent content ..
				For Example --: I have created one for Client We can also have Sub Page for each Functionality But now let us keep it simple ..
				like I will show you the Inventory Control -- It has hyper link that means It has a Page associate .. Where we will have 
				content related to that .. For now I have not added any content and Page for that ..So when I click on it . it will take me to a new page ..
				as there is no page created before it took me to Create Inventory control Page ..Now I will show a sample .. to add documentation of it here
				The TOC is option but let use it .. If you see our Inventory we have some pre-requisites / Masters to be created :
				Table Of Contents Pre-requisites Supplier Item Masters GRN (Goods Received Voucher) Item Details Item Detail via Form
				Data Uploads for Bulk MRN (Material Requisition Note) Move Item via Form Data Uploads for Bulk Item History Any others pl add ..
				== Note == This is like Header as well as Table of content Item If You give * it is a bullet point in  Next line 
				Other Editing you can check on Mediawiki .. Well we need not duplicate we can give a hyperlink to GRN Page -- Will show that in next session .. or it is just linking
				This is it ..  I want you to start putting ... the functionality / features that has been developed by you or you know about it .. 
				I want you to spend at-least 30 Min to 1 hour per day .. Hope we will update it by week's time .. and it will be 
				very helpfull for us .. That can save much time when we wanted to enhance / address some issue .. Let me know 
				if you have problem in adding some thing to it. ok sir,let us start first ..if anything let you know... Thanks.
				Start of now .. Add some text today and then leave for the day  ok sir... share this  documentation ok
		   </div><br/>
		 <table class="fullwidth"><tr><td align="center"><div><a data-ng-click="done()" class="btn btn-primary">Done</a></div></td></tr></table>
		</form>
      </script>
</div>
