<div data-ng-controller="RenewalOrderController">
	<div class="loading-widget-div" data-ng-show="blockUI">
	   <div id="circularG">
	      <div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
	       <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
	       <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
	       <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
	   </div>
    </div>
     <div>
	    <ul class="breadcrumb">
	    	 <li><a href="#/services">{{'label.services' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.renewalorder'|translate}}</li>
	    </ul>
    </div><br/>
	<table>
	  <tr>
	  	<td>
			<div id="packageSelection" class="stepProcess marginleft8 selected">
				<i class="icon-shopping-cart icon-large"></i> {{'header.package.selection'|translate}}
			</div>
		</td>
		<td valign="top" style="padding:20px 0 0 25px;">
			<i class="icon-arrow-right icon-xlarge"></i>
		</td>
		<td>
			<div id="paymentSelection" class="stepProcess offset1">
				<i class="icon-usd"></i>{{'header.payment'|translate}}
			</div>
		</td>
	  </tr>
	</table>
	<table>
	    <tr>
	 	 <td valign="top">
		   <accordion close-others="true" >
			 <accordion-group is-open="planselectionTab" style="width:350px;">
			   <accordion-heading>
			     <strong style="margin-right: 12px;">{{'label.select' | translate}}</strong> 
			     <strong>{{'header.plan.name'|translate}}</strong> 
			     <i class="pull-right" data-ng-class="{'icon-chevron-up': planselectionTab, 'icon-chevron-down': !planselectionTab}"></i>
			   </accordion-heading>
			   <div style="max-height:450px; overflow-y:auto">
	   			  <table class="table table-striped table-condensed table-hover">
	           	    <tbody>
	           	      <tr class="pointer-main" data-ng-repeat="plan in plansData track by $index">
	           	   	    <td class="pointer" width="16%">
	           	   	      <!-- <span>
	           	   		  	<input type="checkbox" id="checkbox-2-{{plan.planId}}" class="regular-checkbox big-checkbox" data-ng-checked="isPlanActive=selectedPlanId == '{{plan.planId}}'" data-ng-model="isPlanActive"
	           	   		  				data-ng-change="singlePlanPricingDatas(plan,isPlanActive)"/>
	           	   		  	<label for="checkbox-2-{{plan.planId}}"></label>
	           	   		  </span> -->
	           	   		  <input type="radio" id="{{plan.planId}}" name="planSelectionRadio" data-ng-model="$index" value="0"
	           	   		  				 data-ng-click="singlePlanPricingDatas(plan,true)"/>
	           	   	    </td>
           	   		    <td class="pointer">
                          <a style="text-decoration: none;"><label>{{plan.planCode}}</label></a>
                       </td>
	           	      </tr>
	                </tbody>
	              </table>
			  </div>
			</accordion-group>
		   </accordion>
	     </td>
	     <td valign="top" data-ng-show="plansData.length > 0" style="width: 45em;padding-left: 2em;">
	        <div>
	        	<strong style="font-size:20px;">{{'label.duration' |translate}}</strong>
	        	<div class="pull-right">
	        		<strong style="font-size:20px;margin-right: 0.8em;">{{'header.price'|translate}}</strong>
	        		<strong style="font-size:20px;">{{'header.action'|translate}}</strong>
	        	</div>
	        </div>    
			<div data-ng-show="pricingDatas" data-ng-repeat="pd in pricingDatas track by $index">
		    	<div class="cust-body">
		    		<span style="color:#0088cc;font-size:2.5em;">{{pd.duration}}</span>
		    		<span class="pull-right">
		    			<span class="dollars">{{pd.price}}</span>
		    			<a class="btn btn-primary cust-btn" href="#/paymentprocess/renewalorder/{{pd.id}}/{{planId}}/{{pd.price}}">
		    				  {{'label.book.order'|translate}}
		    			</a>
		    		</span>
		    	 </div>
		    </div>
		    <div data-ng-hide="pricingDatas" class="error" style="font-size: 2.5em;margin-top: 40px;text-align: center;">
		    	 {{'label.msg.noprice' | translate}}
		    </div>
		 </td>
        </tr>
	 </table>
</div>