<div data-ng-controller="ServicesController">
	<div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
    </div><br/>
    <div>
		<div style="padding-bottom:13px;background: #939393;">
		  <h3 style="margin: 0;text-transform: uppercase;display:inline;"><b class="marginleft10" style="font-size: 20px;color: #FFFFFF;">{{'link.orders'|translate}}</b></h3>
		  <input data-ng-model="filterText" type="text" data-ng-autofocus="true" class="span marginbottom0px" style="margin-right: 15px;margin-top: 6px;" placeholder="{{'placeholder.enter.text.search'|translate}}" />
		  <a href="#/additionalorders/{{clientId}}" class="btn btn-primary pull-right" style="margin-right:20px;margin-top: 6px;"><i class="icon-plus-sign icon-white"></i>{{'label.additionalplans' | translate}}</a>
		</div>
		<div>
		  <table class="table" style="margin-top:-10px;">
	        <thead>
	            <tr class="graybg">
	                <th>{{'table.header.plan'|translate}}</th>
	                <th>{{'table.header.contractperoid'|translate}}</th>
	                <th>{{'table.header.activationdate'|translate}}</th>
	                <th>{{'table.header.start/renewaldate'|translate}}</th>
	                <th>{{'table.header.enddate'|translate}}</th>
	                <th>{{'table.header.price'|translate}}</th>
	                <th>{{'table.header.status'|translate}}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr class="pointer-main" data-ng-repeat="order in ordersData.currentPageItems  | filter:filterText" >
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)" style="font-weight: inherit;color: #555555;">{{order.planCode}}</td>
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)">{{order.contractPeriod}}</td>
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)">{{order.activeDate | DateFormat}}</td>
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)">{{order.startDate | DateFormat}}</td>
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)">{{order.endDate | DateFormat}}</td>
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)">{{order.price }}</td>
	                <td class="pointer" data-ng-click="routeToOrderView(order.id)"><i class="icon-stop {{order.status | StatusLookup}}"></i>&nbsp;{{order.status}}</td>
	            </tr>
	        </tbody>
	      </table>
	     </div>
	    <ul class="pager">
			<li class="previous"><a data-ng-click="ordersData.previous()" data-ng-disabled="!ordersData.hasPrevious()">&larr;{{'btn.previous'|translate}}</a></li>
			<li class="next" ><a data-ng-click="ordersData.next()"  data-ng-disabled="!ordersData.hasNext()">{{'btn.next'|translate}} &rarr;</a></li>
    	</ul>
	</div><br/>    
 	<div>
		<div style="padding-bottom:5px;background: #939393;">
		  <h3 style="margin: 0;text-transform: uppercase;display:inline;"><b class="marginleft10" style="font-size: 20px;color: #FFFFFF;">{{'label.ondemands'|translate}}</b></h3>
		  <input data-ng-model="filterText1" type="text" class="span marginbottom0px" style="margin-right: 15px;margin-top: 6px;" placeholder="{{'placeholder.enter.text.search'|translate}}" />
		  <a href="#/addevents" class="btn btn-primary pull-right" style="margin-right:20px;margin-top: 6px;"><i class="icon-plus-sign icon-white"></i>{{'label.vod.add.event' | translate}}</a>
		</div>
		<div><table class="table">
	        <thead>
	            <tr class="graybg">
	                <th>{{'table.header.listvod.eventname'|translate}}</th>
	                <th>{{'table.header.listvod.bookeddate'|translate}}</th>
	                <th>{{'table.header.listvod.eventprice'|translate}}</th>
	                <th>{{'table.header.listvod.status'|translate}}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr class="pointer-main" data-ng-repeat="vodData in VODSDatas.currentPageItems  | filter:filterText1" >
	                <td class="pointer" style="font-weight: inherit;color: #555555;">{{vodData.eventName}}</td>
	                <td class="pointer">{{vodData.bookedDate | DateFormat}}</td>
	                <td class="pointer">{{vodData.eventPrice}}</td>
	                <td class="pointer"><i class="icon-stop {{vodData.status | StatusLookup}}"></i>&nbsp;{{vodData.status}}</td>
	            </tr>
	        </tbody>
	    </table></div>
	    <ul class="pager">
			<li class="previous"><a data-ng-click="VODSDatas.previous()" data-ng-disabled="!VODSDatas.hasPrevious()">&larr;{{'btn.previous'|translate}}</a></li>
			<li class="next" ><a data-ng-click="VODSDatas.next()" data-ng-disabled="!VODSDatas.hasNext()">{{'btn.next'|translate}} &rarr;</a></li>
    	</ul>
	</div>
</div>