<div data-ng-controller="ServicesController">
	<div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
    </div><br/>
	<div class="paddedbottom10 margintop10">
		<div class="headersdiv" >
		  <h3><b class="marginleft10">{{'link.orders'|translate}}</b></h3>
		 </div><br/>
		 <table class="fullwidth"><tr><td class="paddingleftnone">
		 <div>
		 	<div class="marginleft10 lightbluecolor" data-ng-show="ordersData.length!=0">
		 		<strong>{{'label.currently.subscribed.Packs' | translate}}</strong>
		 	</div>
		 	<div style="height: 220px;overflow-y:auto;width:980px;" data-ng-show="ordersData.length!=0">
		 	 <div class="packbox6"  data-ng-repeat="order in ordersData"  style="margin-bottom: 5px;min-height: 200px;">
		 		<h1 style="line-height: 25px;">{{order.planCode}}</h1>
		 		<ul> <li>{{'table.header.contractperoid'|translate}} : <span>{{order.contractPeriod}}</span>
						<a data-ng-click="viewOrder(order.id)" style="color:blue;"> ({{'label.view' | translate}}) </a></li>
					<li><span style="padding: 0px; margin:0px;">{{'table.header.price'|translate}} : {{'label.price.symbol'|translate}} {{order.price }}</span></li>
					<li>{{'table.header.activationdate'|translate}} : {{order.activeDate | DateFormat}}</li>
					<li>{{'table.header.start/renewaldate'|translate}} : {{order.startDate | DateFormat}}</li>
					<li>{{'table.header.enddate'|translate}} : {{order.endDate | DateFormat}}</li>
					<li>{{'table.header.status'|translate}} : <i class="icon-circle {{order.status | StatusLookup}}"></i>&nbsp;{{order.status}}</li>
					<li class="noneli" data-ng-show="order.status == 'ACTIVE'"><strong class="lightbluecolor" >{{'label.wish.tochange'|translate}}</strong>
					<input type="radio" name="packsel"  style="vertical-align: sub;" value="{{order.id}}" data-ng-click="activePackageSelectionFun(order.id,order.pdid,order.status)">
					  <a data-popover="{{'label.uncheck'|translate}}" data-popover-trigger="mouseenter"><i class="icon-remove lightbluecolor" data-ng-show="order.id == selectedOrderId && (screenName=='changeorder')" data-ng-click="revertRadioBtnFun()"></i></a>
					</li>
					<li class="noneli" data-ng-show="order.status == 'DISCONNECTED' || order.status == 'ACTIVE'"><strong class="lightbluecolor" >{{'label.wish.totopup'|translate}}</strong>
					<input type="radio" name="packsel"  style="vertical-align: sub;" value="{{order.id}}" data-ng-click="disconnectedPackageSelectionFun(order.id,order.pdid,order.status,order.autoRenew)">
					  <a data-popover="{{'label.uncheck'|translate}}" data-popover-trigger="mouseenter" ><i class="icon-remove lightbluecolor" data-ng-show="order.id == selectedOrderId && (screenName=='renewalorder')" data-ng-click="revertRadioBtnFun()"></i></a>
					</li>
				</ul>
			   </div>
			  </div>
		   </div>
          </td></tr>
		<!--  <tr><td class="paddingleftnone">
		    <ul class="pager" style="margin:10px 0;">
				<li class="previous"><a style="color:#3B3D42;" data-ng-click="ordersData.previous()" data-ng-disabled="!ordersData.hasPrevious()">&larr;{{'btn.previous'|translate}}</a></li>
				<li class="next" ><a style="color:#3B3D42;" data-ng-click="ordersData.next()" data-ng-disabled="!ordersData.hasNext()">{{'btn.next'|translate}} &rarr;</a></li>
	       </ul> 
		 </td></tr> -->
		 </table>
		 <div class="marginleft10 lightbluecolor">
		 	<strong data-ng-show="ordersData.length==0">{{'label.addpack.info' | translate}}</strong>
		 	<div  data-ng-show="ordersData.length!=0&&plansData.length!=0">
		 		<strong data-ng-show="screenName == 'additionalorders'">{{'label.anotherpack.info' | translate}}</strong>
		 		<strong data-ng-show="screenName == 'changeorder'">{{'label.changepack.info' | translate}}</strong>
		 		<strong data-ng-show="screenName == 'renewalorder'">{{'label.topuppack.info' | translate}}</strong>
		 	</div>
		 	<div data-ng-show="(screenName == 'changeorder' || screenName == 'renewalorder') && plansData.length==0" >
		 		<h3><span class="required">{{'label.nopacks.available' | translate}}</span></h3>
		 	</div>
		 </div>
		 <div>
		 <div style="height:430px;overflow-y:auto; ">
		 	<div data-ng-repeat="plan in plansData track by $index" data-ng-show="plan.pricingData.length!=0"> 
		 	  <div class="packbox6" style="height:210px;">
				<h1 style="line-height: 25px;">{{plan.planCode}}
				<a data-ng-click="viewPlanServices(plan.planId)" style="color:#fff;text-transform: lowercase;"> ({{'label.view' | translate}}) </a></h1>
				<ul style="margin: 0 0 0 0px;padding: 5px 2px 0px 2px;height:116px;">
				<li data-ng-repeat="priceData in plan.pricingData track by $index">
					<input type="radio" name="addPackRadio" style="vertical-align: sub;" data-ng-click="durationSelectionFun(priceData,plan.planId)">&nbsp;
					<span style="font-size: 14px;">
						<span >{{priceData.duration}}</span><span style="color:blue;">({{'label.price.symbol'|translate}}{{priceData.price}})</span>
					</span>
				</li>
				</ul>
				<table data-ng-show="screenName == 'additionalorders'||screenName == 'changeorder'" ><tr>
					<td valign="top" style="padding-top: 0px;"><strong class="lightbluecolor">{{'label.autorenew'|translate}} :</strong></td>
					<td><switch name="yesNo" ng-model="plan.autoRenew"  on="Yes" off="No" class="wide"></switch></td>
					<!-- <td><input data-bs-switch type="checkbox" data-ng-model="autoRenew" 
                               data-readonly="readonly" data-size="mini" data-on-color="success" data-off-color="danger"
                               data-on-text="Yes" data-off-text="N0"></td> -->
				</tr></table>
				<button data-ng-show="plan.pricingData.length!=0 && screenName == 'additionalorders'" data-ng-click="checkingRecurringStatus(plan.autoRenew)"
						class="btn btn-primary" style="margin-left: 15px;padding:1px 5px; "><i class="icon-plus icon-white"></i>
					{{'btn.add.pack' | translate}}
				</button>
				<button data-ng-show="plan.pricingData.length!=0 && screenName == 'changeorder'" data-ng-click="checkingRecurringStatus(plan.autoRenew)"
						class="btn btn-primary" style="margin-left: 15px; padding:1px 5px;"><i class="icon-retweet icon-white"></i>
					{{'btn.change.pack' | translate}}
				</button>
				<button data-ng-show="plan.pricingData.length!=0 && screenName == 'renewalorder'" data-ng-click="checkingRecurringStatus(plan.autoRenew)"
						class="btn btn-primary" style="margin-left: 15px; padding:1px 5px;margin-top: 30px;"><i class="icon-arrow-up icon-white"></i>
					{{'btn.topup.pack' | translate}}
				</button>
				
			 </div>
	     	</div>
	     </div>
	</div><br/>
</div>
</div>
<script type="text/ng-template" id="vieworder.html"> 
  <div class="modal43" style="min-width:700px;">	
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.service.info' | translate}}
			<a data-ng-show="(orderData.status == 'ACTIVE')||(orderData.status == 'SUSPENDED')" 
				 data-ng-click="orderDisconnect(orderData.id)" class="btn btn-primary pull-right" >
    	 		<i class="icon-remove fa-spin icon-white"></i>{{'btn.disconnect' | translate}}</a>
		</h3>
    </div>
    <div class="modal-body">
		<table class="table margintop10">
		 <thead>
  		   <tr class="graybg drakgraybg">
             <th style="padding-left:20px;">{{'table.header.order.servicecode'|translate}}</th>
             <th>{{'table.header.order.servicedescription'|translate}}</th>
             <th>{{'table.header.order.servicetype'|translate}}</th>
        	</tr>
		 </thead>
		 <tbody>
			<tr data-ng-repeat="orderService in orderServices  | filter:filterText" >                 
   				<td style="font-weight: inherit;color: #555555;padding-left:20px;">{{orderService.servicecode}}</td>
   				<td>{{orderService.serviceDescription}}</td>
   				<td>{{orderService.serviceType}}</td>
			</tr>
		</tbody>
 	   </table>
     </div>
     <div class="modal-footer">
     	<button id="submit" class="btn btn-primary" ng-click="close()" >{{'btn.close' | translate}}</button>
      </div>
</div>
</script>
<script type="text/ng-template" id="viewplanservice.html"> 
  <div class="modal43" style="min-width:700px;">	
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.service.info' | translate}}</h3>
    </div>
    <div class="modal-body">
		<table class="table margintop10">
		 <thead>
  		   <tr class="graybg drakgraybg">
             <th style="padding-left:20px;">{{'table.header.order.servicecode'|translate}}</th>
             <th>{{'table.header.order.servicedescription'|translate}}</th>
        	</tr>
		 </thead>
		 <tbody>
			<tr data-ng-repeat="planservice in planServices  | filter:filterText" >                 
   				<td style="font-weight: inherit;color: #555555;padding-left:20px;">{{planservice.serviceCode}}</td>
   				<td>{{planservice.serviceDescription}}</td>
			</tr>
		</tbody>
 	   </table>
     </div>
     <div class="modal-footer">
     	<button id="submit" class="btn btn-primary" ng-click="close()" >{{'btn.close' | translate}}</button>
      </div>
</div>
</script>
<script type="text/ng-template" id="OrderDisconnect.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.disconnectorder' | translate}}</h3>
    </div>
    <div class="modal-body" style="height:300px;">
       	<fieldset>
     		<div class="control-group">
	            <label class="control-label" style="color:red;" ng-show="orderError.length>0">{{orderError | translate}}</label>
            	<div class="controls"></div>
        	</div>
			<div class="control-group">
           		 <label class="control-label" for="status">{{ 'label.order.disconnectionDate' | translate }}<span class="required">*</span></label>
            	<div class="controls">
            	  	<input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                 	 date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
            	</div>
     		</div>
     		<div class="control-group">
            	<label class="control-label" for="status">{{ 'label.order.disconnectionreason' | translate }}<span class="required">*</span></label>
            	<div class="controls">
              		<select ng-model="formData.disconnectReason"  ng-options="disconnectDetail.mCodeValue as disconnectDetail.mCodeValue for disconnectDetail in disconnectDetails" value="{{disconnectDetail.mCodeValue}}"></select>
            	</div>
    		 </div>
  		  </fieldset>
     </div>
     <div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="cancelDisconnection()">{{'btn.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="approveDisconnection()" ng-disabled="flagOrderDisconnect">{{'label.confirm' | translate}}</button>
      </div>
</script>