<div data-ng-controller="TicketsController">
 <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
     </div>     
 	<div class="row-fluid margintop5px">
 		<div style="padding-bottom:5px;background: #939393;">
		  <h3 style="margin: 0;text-transform: uppercase;display:inline;"><b class="marginleft10" style="font-size: 20px;color: #FFFFFF;">{{'link.tickets'|translate}}</b></h3>
		  <input data-ng-model="filterText" type="text" data-ng-autofocus="true" class="span marginbottom0px" style="margin-right: 15px;margin-top: 6px;" placeholder="{{'placeholder.enter.text.search'|translate}}" />
		  <a href="#/newTicket" class="btn btn-primary pull-right" style="margin-right:20px;margin-top: 6px;"><i class="icon-plus icon-white"></i>{{'label.ticket.add.newticket'|translate}}</a>
		</div>
		<div>
		<table class="table">
	        <thead>
	             <tr class="graybg">
					<th>{{'table.header.ticket.priority'|translate}}</th>
					<th>{{'table.header.ticket.date'|translate}}</th>
					<th>{{'table.header.ticket.problemCode'|translate}}</th>
					<th>{{'table.header.ticket.status'|translate}}</th>
					<th>{{'table.header.ticket.assignto'|translate}}</th>
					<th>{{'table.header.ticket.lastcomment'|translate}}</th>
	     		 </tr>
	        </thead>
	        <tbody>
	            <tr data-ng-repeat="ticket in ticketsData  | filter:filterText">
	                <td style="font-weight: inherit;color: #555555;">{{ticket.priority}}</td>  
	                <td>{{ticket.ticketDate | DateFormat}}</td>
	                <td>{{ticket.problemDescription}}</td>
	                <td>{{ticket.status}}</td>
	                <td>{{ticket.userName}}</td>  
	                <td>{{ticket.lastComment}}</td>
	            </tr>
	        </tbody>
	    </table>
	    </div>
	</div>
</div>