<div ng-controller="VODEventsController">
	<div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div>

      </div>
	<div>
    </div>
 	<div class="row-fluid" ng-show="vodEventScreen"><br/>
 	<label style="color:#0088cc;font-size:25px;" class="animated fadeInUp">{{ '	' | translate }}</label>
		<div style="padding-bottom:5px;background: #939393;">
		  <h3 style="margin: 0;text-transform: uppercase;display:inline;"><b class="marginleft10" style="font-size: 20px;color: #FFFFFF;">{{'label.vod.add.event'|translate}}</b></h3>
		  <input data-ng-model="filterText" type="text" data-ng-autofocus="true" class="span marginbottom0px" style="margin-right: 15px;margin-top: 6px;" placeholder="{{'placeholder.filter.vod'|translate}}" />
		</div>
		<div>
		<table class="table">
	        <thead>
	            <tr class="graybg">
	                <th>{{'table.header.vod.name'|translate}}</th>
	                <th>{{'table.header.vod.quality'|translate}}</th>
	                <th>{{'table.header.vod.price'|translate}}</th>
	                <th>{{'table.header.vod.select'|translate}}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr class="pointer-main"  ng-repeat="mediaDetail in mediaDetails  | filter:filterText" >
	                <td class="pointer"><label for="{{mediaDetail.mediaId}}{{mediaDetail.quality}}{{mediaDetail.optType}}">{{mediaDetail.mediaTitle}}</label></td>
	                <td class="pointer"><label for="{{mediaDetail.mediaId}}{{mediaDetail.quality}}{{mediaDetail.optType}}">{{mediaDetail.quality}}</label></td>
	                <td class="pointer"><label for="{{mediaDetail.mediaId}}{{mediaDetail.quality}}{{mediaDetail.optType}}">{{mediaDetail.price}}</label></td>
	               <!--  <td><input type="checkbox" ng-model="active" ng-change="selectedEventsFun(mediaDetail.mediaId,mediaDetail.mediaTitle,mediaDetail.price,mediaDetail.quality,active)"></td> -->
	                <td><label for="{{mediaDetail.mediaId}}{{mediaDetail.quality}}{{mediaDetail.optType}}"><input type="checkbox" id="{{mediaDetail.mediaId}}{{mediaDetail.quality}}{{mediaDetail.optType}}" ng-model="active" ng-change="selectedEventsFun(mediaDetail,active)"></label></td>
	            </tr>
	        </tbody>
	    </table>
	    </div>
	    <div class="pull-right">
				<button  ng-click="checkOutFun()" class="btn btn-primary animated pulse">{{'btn.checkout'|translate}}</button>
		</div> 
	</div>
	<div class="row-fluid" ng-show="eventDetailsPreview">
		<h3 style="color:#0088cc;">{{'label.vod.event.conformation'|translate}}</h3>
		<div ng-show="vodEventRedirectToDalpay">
			<div class="alert alert-info animated pulse" role="alert">
				<img style="margin-left:400px;" alt="Loading.." ng-src="./selfcare_module/images/loader_circle.gif" width="20px"/>
			         <strong> {{'title.redirecting.dalpay'|translate}}</strong>
			</div>
		</div>
		<table class="table">
	        <thead>
	            <tr class="graybg">
	                <th>{{'table.header.vod.eventname'|translate}}</th>
	                <th>{{'table.header.vod.quality'|translate}}</th>
	                <th>{{'table.header.vod.price'|translate}}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr class="pointer-main" ng-repeat="mediaData in mediaDatas track by $index | filter:filterText" >
	                <td class="pointer">{{mediaData.mediaTitle}}</td>
	                <td class="pointer">{{mediaData.quality}}</td>
	                <td class="pointer">{{mediaData.price}}</td>
	            </tr>
	        </tbody>
	    </table>
	   <hr width=20% style="margin-left:568px;background-color:#0088cc;height:4px;margin-bottom:4px;">
	   <div class="animated pulse">
	 	  <span style="color:#0088cc;font-size:20px;margin-left:580px;" class="pull-left">{{'label.amount.total'|translate}}</span>
	  	 <span style="font-size:20px;margin-right:210px;" class="pull-right">{{totalAmount}}</span><br/><br/>
	   </div>
		<h3 style="color:#0088cc;">{{'label.payment.gateway'|translate}}</h3><br/>
	   <table style="margin-left:15%;">
	       		<tr>
	       			<td>
        				 <div class="control-group">
            				<div class="controls">
            					<input type="radio" name="selectType" ng-click="paymentGatewayFun('korta')" ng-model="paymentGatewayName" value="korta"/>
            						&nbsp;<span  class="btn btn-primary animated pulse">{{'label.korta'|translate}}</span>

            					<input type="radio" name="selectType" ng-click="paymentGatewayFun('dalpay')" ng-model="paymentGatewayName" value="dalpay" style="margin-left:20px;"/>
            						&nbsp;<span  class="btn btn-primary animated pulse">{{'label.dalpay'|translate}}</span>
            				</div>
        				 </div>
	         				 
	       			</td>
	       		</tr>
	       	</table><br/><br/>
		<div class="offset2" >
				<a ng-disabled="vodEventRedirectToDalpay"  ng-click="cancelDalpayBtnFun()" class="btn" style="padding:9px 22px;margin-top:-19px;">{{'btn.cancel'|translate}}</a>
				<a href="{{URLForDalpay}}" ng-click="dalpayBtnFun()" ng-show="totalAmount != 0" ng-disabled="vodEventRedirectToDalpay" class="btn btn-primary cust-btn animated fadeInUp">{{'btn.make.payment'|translate}}</a>
				<a ng-click="subscribeBtnFun()" ng-show="totalAmount == 0" class="btn btn-primary animated fadeInUp">{{'btn.subscribe'|translate}}</a>
		</div> 
	</div>
</div>