<div data-ng-controller="AdditionalOrdersController">
    <div class="loading-widget-div" data-ng-show="blockUI">
	   <div id="circularG">
	      <div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
	       <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
	       <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
	       <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
	   </div>
    </div>
     <div>
	    <ul class="breadcrumb">
	    	 <li><a href="#/profile">{{'link.profile'|translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.additionalplans'|translate}}</li>
	    </ul>
    </div><br/>
	<table>
	  <tr>
	  	<td>
			<div id="packageSelection" class="stepProcess marginleft8 selected">
				<i class="icon-shopping-cart icon-large"></i> {{'header.package.selection'|translate}}
			</div>
		</td>
		<td valign="top" style="padding:20px 0 0 25px;">
			<i class="icon-arrow-right icon-xlarge"></i>
		</td>
		<td>
			<div id="paymentSelection" class="stepProcess offset1">
				<i class="icon-usd"></i>{{'header.payment'|translate}}
			</div>
		</td>
	  </tr>
	</table>
	 <table data-ng-show="isOrderPage">
	    <tr>
	 	 <td valign="top">
		   <accordion close-others="true" >
			 <accordion-group is-open="planselectionTab" style="width:350px;">
			   <accordion-heading>
			     <strong style="margin-right: 12px;">{{'label.select' | translate}}</strong> 
			     <strong>{{'header.plan.name'|translate}}</strong> 
			     <i class="pull-right" data-ng-class="{'icon-chevron-up': planselectionTab, 'icon-chevron-down': !planselectionTab}"></i>
			   </accordion-heading>
			   <div style="max-height:450px; overflow-y:auto">
	   			  <table class="table table-striped table-condensed table-hover">
	           	    <tbody>
	           	      <tr class="pointer-main" data-ng-repeat="plan in plansData track by $index">
	           	   	    <td class="pointer" width="16%">
	           	   	      <span>
	           	   		  	<input type="checkbox" id="checkbox-2-{{plan.planId}}" class="regular-checkbox big-checkbox" data-ng-checked="isPlanActive=selectedPlanId == '{{plan.planId}}'" data-ng-model="isPlanActive"
	           	   		  				data-ng-change="singlePlanPricingDatas(plan,isPlanActive)"/>
	           	   		  	<label for="checkbox-2-{{plan.planId}}"></label>
	           	   		  </span>
	           	   	    </td>
           	   		    <td class="pointer">
                          <a style="text-decoration: none;"><label>{{plan.planCode}}</label></a>
                       </td>
	           	      </tr>
	                </tbody>
	              </table>
			  </div>
			</accordion-group>
		   </accordion>
	     </td>
	     <td valign="top" data-ng-show="plansData.length > 0" style="width: 45em;padding-left: 2em;">
	        <div>
	        	<strong style="font-size:20px;">{{'label.duration' |translate}}</strong>
	        	<div class="pull-right">
	        		<strong style="font-size:20px;margin-right: 0.8em;">{{'header.price'|translate}}</strong>
	        		<strong style="font-size:20px;">{{'header.action'|translate}}</strong>
	        	</div>
	        </div>    
			<div data-ng-show="pricingDatas" data-ng-repeat="pd in pricingDatas track by $index">
		    	<div class="cust-body">
		    		<span style="color:#0088cc;font-size:2.5em;">{{pd.duration}}</span>
		    		<span class="pull-right">
		    			<span class="dollars">{{pd.price}}</span>
		    			<a class="btn btn-primary cust-btn" 
		    				  data-ng-click="selectedPLandAmt(pd.contractId,pd.billingFrequency,pd.price,pd.planCode,pd.duration)">
		    				  {{'label.book.order'|translate}}
		    			</a>
		    		</span>
		    	 </div>
		    </div>
		    <div data-ng-hide="pricingDatas" class="error" style="font-size: 2.5em;margin-top: 40px;text-align: center;">
		    	 {{'label.msg.noprice' | translate}}
		    </div>
		 </td>
        </tr>
	 </table>
	 <div data-ng-show="isPaymentPage">
		<br/>
	    <div class="error" data-ng-show="errorStatus || errorDetails">
		  <label>{{'label.contract.error' | translate}}</label>
		  <label data-ng-show="errorStatus">{{errorStatus}}</label>
		  <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<table class="table">
			<thead>
	            <tr class="graybg">
					<th>{{'header.plan.name'|translate}}</th>
					<th>{{'header.contract.period'|translate}}</th>
					<th>{{'header.price'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="bigfont">{{formData.planName}}</td>
					<td class="bigfont">{{duration}}</td>
					<td class="bigfont">{{formData.planAmount}}</td>
				</tr>
			</tbody>
			
		</table>
		<br/>
		<div class="offset1" style="margin-top: 35px;">
		   <table class="fullwidth">
			  <tr>
   				<td width="42%" class="bigfont" valign="top">
   						{{'label.select.payment.gateway' | translate}}&nbsp;&nbsp;:
   				</td>
       			<td>
       				<div data-ng-repeat="paymentgatewayData in paymentgatewayDatas track by $index" class="marginbottom10">
       					<input type="radio" id="{{paymentgatewayData.name}}" name="gatewaySelection" class="radioalign" data-ng-model="paymentGatewayName" 
       					   value="{{paymentgatewayData.name}}" data-ng-click="paymentGatewayFun(paymentgatewayData.name)"/>
      						&nbsp;
      					   <label for="{{paymentgatewayData.name}}" class="inlinedis pointer">
      								<img src="./selfcare_module/images/{{paymentgatewayData.name}}.jpg" width="110px;"><!-- <strong>{{paymentgatewayData.name}}</strong> -->
      					   </label><br/>
       				</div>
       				<div class="error" data-ng-show="paymentGatewayName==''" style="font-size: 1.5em;margin-top: 0px;">
       					 {{'label.notselect.payment.gateway' | translate}}<br/><br/>
       					 {{'label.atleast.one.payment.gateway' | translate}}
       				</div> 
       			</td>
          	  </tr>
          	  <!-- <tr >
          	  	<td width="42%"></td>
       			<td style="padding-top: 30px;">
			    		<input type="checkbox" data-ng-change = "termsAndCondition(termsData)" data-ng-model="termsData" data-ng-true-value="Y"  data-ng-false-value="N" style="vertical-align: sub;"/> 
			    		<span> {{'label.agree' | translate}} <a style="color: blue;" href="#/termsandconditionsonlinepayment" target="_blank">{{'label.Terms.Conditions' | translate}}</a> </span>
       			</td>
       		 </tr> -->
          	  <tr>
       		 	<td colspan="2" style="padding-top: 30px;" >
      		 	   <div class="offset4" data-ng-hide="paymentGatewayName==''">
			          <a data-ng-disabled="isRedirectToDalpay" data-ng-click="cancelPaymentFun()"  class="btn" >{{'btn.cancel' | translate}}</a> 
					  <a data-ng-click="makePaymentFun()" class="btn btn-primary">{{'btn.proceed' | translate}}</a>
				   </div>
				   <div class="pull-right" data-ng-show="paymentGatewayName==''">
				   		<a data-ng-disabled="isRedirectToDalpay" data-ng-click="cancelPaymentFun()"  class="btn" >{{'btn.cancel' | translate}}</a>
				   </div>
       		 	</td>
          	  </tr>
          	</table>
       	 </div>
	 </div>
	 <div data-ng-show="isAmountZero">
		<br>
		 <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
			<table class="table">
			<thead>
	            <tr class="graybg">
					<th>{{'header.plan.name'|translate}}</th>
					<th>{{'header.contract.period'|translate}}</th>
					<th>{{'header.price'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="bigfont">{{formData.planName}}</td>
					<td class="bigfont">{{duration}}</td>
					<td class="bigfont">{{formData.planAmount}}</td>
				</tr>
			</tbody>
		</table>
              <br/>
	       <div class="pull-right">
				<a data-ng-click="cancelPaymentFun()"  class="btn">{{'btn.cancel' | translate}}</a> 
				<a data-ng-click="finishBtnFun()" class="btn btn-primary animated fadeInUp">{{'btn.subscribe' | translate}}</a>
			</div> 
			 
	</div>
	<script type="text/ng-template" id="termsandconditionskorta.html">
		<form  name="kortaInfoForm" novalidate  class="form-horizontal well" style="border:0px;width:650px;"
				action="https://netgreidslur.korta.is/testing/" method="post" >
			<input name="amount" type="hidden" value="{{formData.amount}}">
			<input name="currency" type="hidden" value="{{formData.currency}}">
			<input name="merchant" type="hidden" value="{{kortaMerchantId}}">
			<input name="terminal" type="hidden" value="{{kortaTerminalId}}">
			<input name="description" type="hidden" value="{{formData.description}}">
			<input name="token" type="hidden" value={{formData.token}}>
			<input name="do" type="hidden" value="{{formData.doAction}}">
			<input name="lang" type="hidden" value="{{formData.optlang}}"> 
			
			<input type="hidden" name="name" value="{{formData.fullName}}">
			<input type="hidden" name="address" value="{{formData.address}}">
			<input type="hidden" name="email" value="{{formData.emailId}}">
			<input type="hidden" name="email2" value="{{formData.emailId}}">
			<input type="hidden" name="zip" value="{{formData.zipcode}}">
			<input type="hidden" name="city" value="{{formData.city}}">
			<input type="hidden" name="country" value="{{formData.country}}">
			<input type="hidden" name="phone" value="{{formData.mobileNo}}">
			<input type="hidden" name="terms" value={{formData.terms}}>
			<input type="hidden" name="readonly" value="Y">
			
			
			<input name="checkvaluemd5" type="hidden" value={{formData.md5value}}>
			<input type="hidden" name="downloadurl" value="{{downloadurl}}">
			<input type="hidden" name="refermethod" value="REDIRECT">
			<input type="hidden" name="refertarget" value="_top"> 

			<h4><strong>Terms and Conditions</strong></h4>
			<div>Read and accept the following agreement to continue.</div><br/>
			<div style="max-height:300px; overflow-y:auto;border:1px solid;padding:10px;">
				I will be showing how to create a Page and add content to
it .


ok sir

Today I want all off you to start puting the feature /
functionality that has been developed

No matter on spelling / Sentence / Grammer ..
Just add the data .. Will review as well we can get
it reviewed by our Pavan if necessary ..

If the information is available it will be easy for 
every on to know as Knowledge base .. and address
the Enhancements Quickly ..


Well now I will add One Page. 
1. How to add a Page
2. Basic Format to use while adding the content to that Page

The Structure is like this ..

First Main Page as landing Page ..
http://wiki.openbillingsystem.com/mw19/

Here you can see 6 Sections .. But we are going to use
the First one -- Open Billing System

Every click in wiki is basically a Page ..
With in the Page we have the relavent content ..

For Example --: I have created one for Client

We can also have Sub Page for each Functionality 

But now let us keep it simple ..

like I will show you the Inventory Control -- It has hyper link that means It has a Page associate .. Where we will have 

content related to that ..

For now I have not added any content and Page for that ..

So when I click on it . it will take me to a new page ..

as there is no page created before it took me to 

Create Inventory control Page .. 

Now I will show a sample .. to add documentation of it here

The TOC is option but let use it ..

If you see our Inventory we have some pre-requisites / Masters
to be created :

Table Of Contents
Pre-requisites
	Supplier
	Item Masters
GRN (Goods Received Voucher)
Item Details
	Item Detail via Form
	Data Uploads for Bulk
MRN (Material Requisition Note)
	Move Item via Form
	Data Uploads for Bulk
Item History

Any others pl add ..
== Note == This is like Header as well as Table of content Item
If You give * it is a bullet point in  Next line 
Other Editing you can check on Mediawiki ..

Well we need not duplicate we can give a hyperlink to GRN Page -- Will show that in next session .. or it is just linking


This is it ..  I want you to start putting ... the 

functionality / features that has been developed by you 

or you know about it .. 

I want you to spend at-least 30 Min to 1 hour per day .. 
Hope we will update it by week's time .. and it will be 
very helpfull for us .. 

That can save much time when we wanted to enhance / address
some issue ..

Let me know if you have problem in adding some thing to it.

ok sir,let us start first ..if anything let you know...

Thanks.
Start of now .. Add some text today and then leave for the day 

ok sir...


share this  documentation

ok





 

 


			</div><br/>
		 <table class="fullwidth"><tr><td align="center">
			<div class="">
			 <a data-ng-click="disAgree()"  class="btn">I Do Not Accept</a>
             <button id="submit" type="submit" ng-click="submitFun()" class="btn btn-primary">I Agree</button>
			</div></td></tr></table>
		</form>
      </script>
      <script type="text/ng-template" id="termsandconditionskortatoken.html">
		<form name="kortaTokenPayementInfoForm" novalidate style="border:0px;width:650px;"
action="https://netgreidslur.korta.is/testing/" method="post" class="form-horizontal well" >
<input name="amount" type="hidden" value="{{formData.amount}}">
<input name="currency" type="hidden" value="{{formData.currency}}">
<input name="merchant" type="hidden" value="{{kortaMerchantId}}">
<input name="terminal" type="hidden" value="{{kortaTerminalId}}">
<input name="description" type="hidden" value="{{formData.description}}">
<input name="token" type="hidden" value={{formData.token}}>
<input name="do" type="hidden" value="">
<input name="lang" type="hidden" value="{{formData.optlang}}"> 
<input name="skipcardverify" type="hidden" value="1">

<input type="hidden" name="name" value="{{formData.fullName}}">
<input type="hidden" name="address" value="{{formData.address}}">
<input type="hidden" name="email" value="{{formData.emailId}}">
<input type="hidden" name="email2" value="{{formData.emailId}}">
<input type="hidden" name="zip" value="{{formData.zipcode}}">
<input type="hidden" name="city" value="{{formData.city}}">
<input type="hidden" name="country" value="{{formData.country}}">
<input type="hidden" name="phone" value="{{formData.mobileNo}}">
<input type="hidden" name="terms" value="Y">
<input type="hidden" name="readonly" value="Y">


<input name="checkvaluemd5" type="hidden" value={{formData.md5value}}>
<input type="hidden" name="downloadurl" value="{{downloadurl}}">
<input type="hidden" name="refermethod" value="REDIRECT">
<input type="hidden" name="refertarget" value="_top">

			<h4><strong>Terms and Conditions</strong></h4>
			<div>Read and accept the following agreement to continue.</div><br/>
			<div style="max-height:300px; overflow-y:auto;border:1px solid;padding:10px;">
				I will be showing how to create a Page and add content to
it .


ok sir

Today I want all off you to start puting the feature /
functionality that has been developed

No matter on spelling / Sentence / Grammer ..
Just add the data .. Will review as well we can get
it reviewed by our Pavan if necessary ..

If the information is available it will be easy for 
every on to know as Knowledge base .. and address
the Enhancements Quickly ..


Well now I will add One Page. 
1. How to add a Page
2. Basic Format to use while adding the content to that Page

The Structure is like this ..

First Main Page as landing Page ..
http://wiki.openbillingsystem.com/mw19/

Here you can see 6 Sections .. But we are going to use
the First one -- Open Billing System

Every click in wiki is basically a Page ..
With in the Page we have the relavent content ..

For Example --: I have created one for Client

We can also have Sub Page for each Functionality 

But now let us keep it simple ..

like I will show you the Inventory Control -- It has hyper link that means It has a Page associate .. Where we will have 

content related to that ..

For now I have not added any content and Page for that ..

So when I click on it . it will take me to a new page ..

as there is no page created before it took me to 

Create Inventory control Page .. 

Now I will show a sample .. to add documentation of it here

The TOC is option but let use it ..

If you see our Inventory we have some pre-requisites / Masters
to be created :

Table Of Contents
Pre-requisites
	Supplier
	Item Masters
GRN (Goods Received Voucher)
Item Details
	Item Detail via Form
	Data Uploads for Bulk
MRN (Material Requisition Note)
	Move Item via Form
	Data Uploads for Bulk
Item History

Any others pl add ..
== Note == This is like Header as well as Table of content Item
If You give * it is a bullet point in  Next line 
Other Editing you can check on Mediawiki ..

Well we need not duplicate we can give a hyperlink to GRN Page -- Will show that in next session .. or it is just linking


This is it ..  I want you to start putting ... the 

functionality / features that has been developed by you 

or you know about it .. 

I want you to spend at-least 30 Min to 1 hour per day .. 
Hope we will update it by week's time .. and it will be 
very helpfull for us .. 

That can save much time when we wanted to enhance / address
some issue ..

Let me know if you have problem in adding some thing to it.

ok sir,let us start first ..if anything let you know...

Thanks.
Start of now .. Add some text today and then leave for the day 

ok sir...


share this  documentation

ok





 

 


			</div><br/>
		 <table class="fullwidth"><tr><td align="center">
			<div class="">
			 <a data-ng-click="disAgree()"  class="btn">I Do Not Accept</a>
             <button id="submit" type="submit" ng-click="submitFun()" class="btn btn-primary">I Agree</button>
			</div></td></tr></table>
		</form>
      </script>
      <script type="text/ng-template" id="termsandconditionsglobalpay.html">
		<form name="globalpayInfoForm" novalidate="" style="border:0px;width:650px;"
				action="https://demo.globalpay.com.ng/globalpay_demo/Paymentgatewaycapture.aspx" method="post" class="form-horizontal well">
			<input type="hidden" id="currency" name="currency" value={{currency}}> 
			<input type="hidden" id="merch_txnref" name="merch_txnref" value="{{formData.txnref}}">
			<input type="hidden" id="merchantid" name="merchantid" value="{{merchantid}}">
			<input type="hidden" name="names" value ="{{formData.names}}" />
			<input type="hidden" name="amount" value="{{formData.amount}}" />
			<input type="hidden" id="email_address" name="email_address" value="{{formData.email}}" />
			<input type="hidden" id="phone_number" name="phone_number" value="{{formData.phoneno}}" />

			<h4><strong>Terms and Conditions</strong></h4>
			<div>Read and accept the following agreement to continue.</div><br/>
			<div style="max-height:300px; overflow-y:auto;border:1px solid;padding:10px;">
				I will be showing how to create a Page and add content to
it .


ok sir

Today I want all off you to start puting the feature /
functionality that has been developed

No matter on spelling / Sentence / Grammer ..
Just add the data .. Will review as well we can get
it reviewed by our Pavan if necessary ..

If the information is available it will be easy for 
every on to know as Knowledge base .. and address
the Enhancements Quickly ..


Well now I will add One Page. 
1. How to add a Page
2. Basic Format to use while adding the content to that Page

The Structure is like this ..

First Main Page as landing Page ..
http://wiki.openbillingsystem.com/mw19/

Here you can see 6 Sections .. But we are going to use
the First one -- Open Billing System

Every click in wiki is basically a Page ..
With in the Page we have the relavent content ..

For Example --: I have created one for Client

We can also have Sub Page for each Functionality 

But now let us keep it simple ..

like I will show you the Inventory Control -- It has hyper link that means It has a Page associate .. Where we will have 

content related to that ..

For now I have not added any content and Page for that ..

So when I click on it . it will take me to a new page ..

as there is no page created before it took me to 

Create Inventory control Page .. 

Now I will show a sample .. to add documentation of it here

The TOC is option but let use it ..

If you see our Inventory we have some pre-requisites / Masters
to be created :

Table Of Contents
Pre-requisites
	Supplier
	Item Masters
GRN (Goods Received Voucher)
Item Details
	Item Detail via Form
	Data Uploads for Bulk
MRN (Material Requisition Note)
	Move Item via Form
	Data Uploads for Bulk
Item History

Any others pl add ..
== Note == This is like Header as well as Table of content Item
If You give * it is a bullet point in  Next line 
Other Editing you can check on Mediawiki ..

Well we need not duplicate we can give a hyperlink to GRN Page -- Will show that in next session .. or it is just linking


This is it ..  I want you to start putting ... the 

functionality / features that has been developed by you 

or you know about it .. 

I want you to spend at-least 30 Min to 1 hour per day .. 
Hope we will update it by week's time .. and it will be 
very helpfull for us .. 

That can save much time when we wanted to enhance / address
some issue ..

Let me know if you have problem in adding some thing to it.

ok sir,let us start first ..if anything let you know...

Thanks.
Start of now .. Add some text today and then leave for the day 

ok sir...


share this  documentation

ok





 

 


			</div><br/>
		 <table class="fullwidth"><tr><td align="center">
			<div class="">
			 <a data-ng-click="disAgree()"  class="btn">I Do Not Accept</a>
             <button id="submit" type="submit" ng-click="submitFun()" class="btn btn-primary">I Agree</button>
			</div></td></tr></table>
		</form>
      </script>
      <script type="text/ng-template" id="termsandconditionspaypal.html">
		<form style="border:0px;width:650px;" class="form-horizontal well">
			<h4><strong>Terms and Conditions</strong></h4>
			<div>Read and accept the following agreement to continue.</div><br/>
			<div style="max-height:300px; overflow-y:auto;border:1px solid;padding:10px;">
				I will be showing how to create a Page and add content to
it .


ok sir

Today I want all off you to start puting the feature /
functionality that has been developed

No matter on spelling / Sentence / Grammer ..
Just add the data .. Will review as well we can get
it reviewed by our Pavan if necessary ..

If the information is available it will be easy for 
every on to know as Knowledge base .. and address
the Enhancements Quickly ..


Well now I will add One Page. 
1. How to add a Page
2. Basic Format to use while adding the content to that Page

The Structure is like this ..

First Main Page as landing Page ..
http://wiki.openbillingsystem.com/mw19/

Here you can see 6 Sections .. But we are going to use
the First one -- Open Billing System

Every click in wiki is basically a Page ..
With in the Page we have the relavent content ..

For Example --: I have created one for Client

We can also have Sub Page for each Functionality 

But now let us keep it simple ..

like I will show you the Inventory Control -- It has hyper link that means It has a Page associate .. Where we will have 

content related to that ..

For now I have not added any content and Page for that ..

So when I click on it . it will take me to a new page ..

as there is no page created before it took me to 

Create Inventory control Page .. 

Now I will show a sample .. to add documentation of it here

The TOC is option but let use it ..

If you see our Inventory we have some pre-requisites / Masters
to be created :

Table Of Contents
Pre-requisites
	Supplier
	Item Masters
GRN (Goods Received Voucher)
Item Details
	Item Detail via Form
	Data Uploads for Bulk
MRN (Material Requisition Note)
	Move Item via Form
	Data Uploads for Bulk
Item History

Any others pl add ..
== Note == This is like Header as well as Table of content Item
If You give * it is a bullet point in  Next line 
Other Editing you can check on Mediawiki ..

Well we need not duplicate we can give a hyperlink to GRN Page -- Will show that in next session .. or it is just linking


This is it ..  I want you to start putting ... the 

functionality / features that has been developed by you 

or you know about it .. 

I want you to spend at-least 30 Min to 1 hour per day .. 
Hope we will update it by week's time .. and it will be 
very helpfull for us .. 

That can save much time when we wanted to enhance / address
some issue ..

Let me know if you have problem in adding some thing to it.

ok sir,let us start first ..if anything let you know...

Thanks.
Start of now .. Add some text today and then leave for the day 

ok sir...


share this  documentation

ok





 

 


			</div><br/>
		 <table class="fullwidth"><tr><td align="center">
			<div class="">
			 <a data-ng-click="disAgree()"  class="btn">I Do Not Accept</a>
             <a id="submit" type="submit" href="{{paymentURL}}" ng-click="submitFun()" class="btn btn-primary">I Agree</a>
			</div></td></tr></table>
		</form>
      </script>
</div>