<div data-ng-controller="ChangeOrderController">
    <div class="loading-widget-div" data-ng-show="blockUI">
	   <div id="circularG">
	      <div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
	       <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
	       <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
	       <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
	   </div>
    </div>
     <div>
	    <ul class="breadcrumb">
	    	 <li><a href="#/profile">{{'link.profile'|translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{'label.additionalplans'|translate}}</li>
	    </ul>
    </div><br/>
	<table>
	  <tr>
	  	<td>
			<div id="packageSelection" class="stepProcess marginleft8 selected">
				<i class="icon-shopping-cart icon-large"></i> {{'header.package.selection'|translate}}
			</div>
		</td>
		<td valign="top" style="padding:20px 0 0 25px;">
			<i class="icon-arrow-right icon-xlarge"></i>
		</td>
		<td>
			<div id="paymentSelection" class="stepProcess offset1">
				<i class="icon-usd"></i>{{'header.payment'|translate}}
			</div>
		</td>
	  </tr>
	</table>
	 <table data-ng-show="isOrderPage">
	    <tr>
	 	 <td valign="top">
		   <accordion close-others="true" >
			 <accordion-group is-open="planselectionTab" style="width:350px;">
			   <accordion-heading>
			     <strong style="margin-right: 12px;">{{'label.select' | translate}}</strong> 
			     <strong>{{'header.plan.name'|translate}}</strong> 
			     <i class="pull-right" data-ng-class="{'icon-chevron-up': planselectionTab, 'icon-chevron-down': !planselectionTab}"></i>
			   </accordion-heading>
			   <div style="max-height:450px; overflow-y:auto">
	   			  <table class="table table-striped table-condensed table-hover">
	           	    <tbody>
	           	      <tr class="pointer-main" data-ng-repeat="plan in plansData track by $index">
	           	   	    <td class="pointer" width="16%">
	           	   	      <span>
	           	   		  	<!-- <input id="{{plan.planId}}" type="checkbox" data-ng-change="singlePlanPricingDatas(plan,isPlanActive)" 
	           	   		  						data-ng-checked="selectedPlanId == '{{plan.planId}}'" data-ng-model="isPlanActive"/> -->
	           	   		  	<input type="checkbox" id="checkbox-2-{{plan.planId}}" class="regular-checkbox big-checkbox" data-ng-checked="isPlanActive=selectedPlanId == '{{plan.planId}}'" data-ng-model="isPlanActive"
	           	   		  				data-ng-change="singlePlanPricingDatas(plan,isPlanActive)"/>
	           	   		  	<label for="checkbox-2-{{plan.planId}}"></label>
	           	   		  </span>
	           	   	    </td>
           	   		    <td class="pointer">
                          <a style="text-decoration: none;"><label>{{plan.planCode}}</label></a>
                       </td>
	           	      </tr>
	                </tbody>
	              </table>
			  </div>
			</accordion-group>
		   </accordion>
	     </td>
	     <td valign="top" data-ng-show="plansData.length > 0" style="width: 45em;padding-left: 2em;">
	        <div>
	        	<strong style="font-size:20px;">{{'label.duration' |translate}}</strong>
	        	<div class="pull-right">
	        		<strong style="font-size:20px;margin-right: 0.8em;">{{'header.price'|translate}}</strong>
	        		<strong style="font-size:20px;">{{'header.action'|translate}}</strong>
	        	</div>
	        </div>    
			<div data-ng-show="pricingDatas" data-ng-repeat="pd in pricingDatas track by $index">
		    	<div class="cust-body">
		    		<span style="color:#0088cc;font-size:2.5em;">{{pd.duration}}</span>
		    		<span class="pull-right">
		    			<span class="dollars">{{pd.price}}</span>
		    			<a class="btn btn-primary cust-btn" 
		    				  data-ng-click="selectedPLandAmt(pd.contractId,pd.billingFrequency,pd.price,pd.planCode,pd.duration)">
		    				  {{'label.book.order'|translate}}
		    			</a>
		    		</span>
		    	 </div>
		    </div>
		    <div data-ng-hide="pricingDatas" class="error" style="font-size: 2.5em;margin-top: 40px;text-align: center;">
		    	 {{'label.msg.noprice' | translate}}
		    </div>
		 </td>
        </tr>
	 </table>
	 <div data-ng-show="isPaymentPage">
		<br/>
	    <div class="error" data-ng-show="errorStatus || errorDetails">
		  <label>{{'label.contract.error' | translate}}</label>
		  <label data-ng-show="errorStatus">{{errorStatus}}</label>
		  <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<table class="table">
			<thead>
	            <tr class="graybg">
					<th>{{'header.plan.name'|translate}}</th>
					<th>{{'header.contract.period'|translate}}</th>
					<th>{{'header.price'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="bigfont">{{formData.planName}}</td>
					<td class="bigfont">{{duration}}</td>
					<td class="bigfont">{{formData.planAmount}}</td>
				</tr>
			</tbody>
			
		</table>
		<br/>
		<div class="offset1" style="margin-top: 35px;">
		   <table class="fullwidth">
			  <tr>
   				<td width="42%" class="bigfont" valign="top">
   						{{'label.select.payment.gateway' | translate}}&nbsp;&nbsp;:
   				</td>
       			<td>
       				<div data-ng-repeat="paymentgatewayData in paymentgatewayDatas track by $index">
       					<input type="radio" id="{{paymentgatewayData.name}}" name="gatewaySelection" class="radioalign" data-ng-model="paymentGatewayName" 
       					   value="{{paymentgatewayData.name}}" data-ng-click="paymentGatewayFun(paymentgatewayData.name)"/>
      						&nbsp;
      					   <label for="{{paymentgatewayData.name}}" class="inlinedis pointer">
      								<img src="./selfcare_module/images/{{paymentgatewayData.name}}.jpg" width="110px;"><!-- <strong>{{paymentgatewayData.name}}</strong> -->
      					   </label><br/>
       				</div>
       				<div class="error" data-ng-show="paymentGatewayName==''" style="font-size: 1.5em;margin-top: 0px;">
       					 {{'label.notselect.payment.gateway' | translate}}<br/><br/>
       					 {{'label.atleast.one.payment.gateway' | translate}}
       				</div> 
       			</td>
          	  </tr>
          	  <tr>
       		 	<td colspan="2" style="padding-top: 30px;" >
      		 	   <div class="offset4" data-ng-hide="paymentGatewayName==''">
			          <a data-ng-disabled="isRedirectToDalpay" data-ng-click="cancelPaymentFun()"  class="btn" >{{'btn.cancel' | translate}}</a> 
					  <a href="{{paymentURL}}" data-ng-click="makePaymentFun()" data-ng-disabled="isRedirectToDalpay" class="btn btn-primary">{{'btn.proceed' | translate}}</a>
				   </div>
				   <div class="pull-right" data-ng-show="paymentGatewayName==''">
				   		<a data-ng-disabled="isRedirectToDalpay" data-ng-click="cancelPaymentFun()"  class="btn" >{{'btn.cancel' | translate}}</a>
				   </div>
       		 	</td>
          	  </tr>
          	</table>
       	 </div>
	 </div>
	 <div ng-show="isAmountZero">
		<br>
		 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
			<table class="table">
			<thead>
	            <tr class="graybg">
					<th>{{'header.plan.name'|translate}}</th>
					<th>{{'header.contract.period'|translate}}</th>
					<th>{{'header.price'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="bigfont">{{formData.planName}}</td>
					<td class="bigfont">{{duration}}</td>
					<td class="bigfont">{{formData.planAmount}}</td>
				</tr>
			</tbody>
		</table>
              <br/>
	       <div class="pull-right">
				<a ng-click="cancelPaymentFun()"  class="btn">{{'btn.cancel' | translate}}</a> 
				<a ng-click="finishBtnFun()" class="btn btn-primary animated fadeInUp">{{'btn.subscribe' | translate}}</a>
			</div> 
			 
	</div>
</div>

<!-- <div ng-controller="ChangeOrderController">
<div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div>

</div>
<br/>
<div ng-show="isOrderPage">
	<span class="animated wobble" style="margin-left:280px;">{{'header.package.selection'|translate}}</span>
	<span style="margin-left:270px;">{{'header.payment'|translate}}</span><br/>
	<img class="animated wobble" style="margin-left:280px;" alt="{{'header.package.selection'|translate}}" src="./selfcare_module/images/Subscribe.jpg" width="50px;">
	<img style="margin-left:280px;" alt="{{'header.payment'|translate}}" src="./selfcare_module/images/Payment.jpg" width="50px;"><br/>
	<img class="animated pulse" style="margin-left:290px;margin-top:-28px" alt="ok" src="./selfcare_module/images/checkbox.png" width="30px;">
</div>
<div ng-show="isPaymentPage">
	<span style="margin-left:280px;">{{'header.package.selection'|translate}}</span>
	<span class="animated wobble" style="margin-left:270px;">{{'header.payment'|translate}}</span><br/>
	<img style="margin-left:280px;" alt="{{'header.package.selection'|translate}}" src="./selfcare_module/images/Subscribe.jpg" width="50px;">
	<img class="animated wobble" style="margin-left:280px;" alt="{{'header.payment'|translate}}" src="./selfcare_module/images/Payment.jpg" width="50px;"><br/>
	<img class="animated pulse" style="margin-left:630px;margin-top:-28px" alt="ok" src="./selfcare_module/images/checkbox.png" width="30px;">
</div>
<div ng-show="isRedirectToDalpay">
<div class="alert alert-info animated pulse" role="alert">
	<img style="margin-left:400px;" alt="Loading.." ng-src="./selfcare_module/images/loader_circle.gif" width="20px"/>
         <strong>{{'title.redirecting.dalpay'|translate}}</strong>
		</div>
</div>
      <div ng-show="isOrderPage">
      		<div class="animated bounce">
	       	<h3>{{'header.current.plan'|translate}}</h3>
	      		<div  style="margin-left:50px;">
		      <tabset  type="pills">
			    <tab heading="{{selectedPlanData.planCode}}">
			    	<div class="cust-body animated fadeInUp">
			    		<span style="color:#0088cc;font-size:2.5em;">{{selectedPlanData.contractPeriod}}</span>
			    		<span class="pull-right" style="margin-right:60px;">
			    			<sup class="sup animated pulse">{{'symbol.price'|translate}}</sup>
			    			<span class="dollars animated pulse">{{selectedPlanData.price}}</span>
			    		</span>
			    	 </div>
			    </tab>
			  </tabset>
		    </div> 
		   </div><br/>
	        <div class="animated bounce">
	       	<h3>{{'header.change.plan'|translate}}</h3>
	      		<div  style="margin-left:50px;">
		      <tabset  type="pills">
			    <tab heading="{{plan.planCode}}" ng-repeat="plan in plansData">
				    <div ng-repeat="contractData in plan.pricingData track by $index" >
				    	<div class="cust-body animated fadeInUp">
				    		<span style="color:#0088cc;font-size:2.5em;">{{contractData.duration}}</span>
				    		<span class="pull-right">
				    			<sup class="sup animated pulse">$</sup>
				    			<span class="dollars animated pulse">{{contractData.price}}</span>
				    			<a class="btn btn-primary cust-btn animated swing" 
				    				  ng-click="selectedPLandAm(contractData.contractId,plan.planId,contractData.billingFrequency,contractData.price,contractData.planCode,contractData.duration)">{{'label.book.order'|translate}}</a>
				    		</span>
				    	 </div>
				    </div>
			    </tab>
			  </tabset>
		    </div> 
		   </div><br/>
		   <div class="pull-left">
		    <a id="cancel" href='#/vieworder/{{orderId}}/{{formData.clientId}}'><button type="reset" class="btn">{{'btn.cancel' | translate}}</button></a>
		   </div>
	   </div>
	<form name="paymentBtnForm" novalidate="" class="form-horizontal well" ng-show="isPaymentPage">
		<br>
		 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<fieldset class="animated bounce">
			<h3 style="padding-left:50px;">{{'label.payment.page'|translate}}</h3>
			<div class="row paddedleft" style="margin-left:200px;">
			<table width="100%">
				<tr>
					<td width="30%"><strong>{{'header.package.name'|translate}}</strong></td>
					<td width="70%" class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planName}}</td>
				</tr>
				<tr>
					<td><strong>{{'header.contract.period'|translate}}</strong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{duration}}</td>
				</tr>
				<tr>
					<td><strong>{{'header.price'|translate}}</strong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planAmount}}</td>
				</tr>
				
			</table>
			</div><br/>
			<table style="margin-left:50px;">
	       		<tr>
	       			<td>
            			<div class="control-group">
            				<div class="controls">
            					<input type="radio" name="selectType" ng-click="paymentGatewayFun('korta')" ng-model="paymentGatewayName" value="korta"/>
            						&nbsp;<span  class="btn btn-primary animated pulse">{{'label.korta'|translate}}</span>

            					<input type="radio" name="selectType" ng-click="paymentGatewayFun('dalpay')" ng-model="paymentGatewayName" value="dalpay" style="margin-left:20px;"/>
            						&nbsp;<span  class="btn btn-primary animated pulse">{{'label.dalpay'|translate}}</span>
            				</div>
        				 </div>
	         				 
	       			</td>
	       		</tr>
	       	</table><br/>
	       
			<div class="offset3">
				<a ng-disabled="isRedirectToDalpay" ng-click="cancelPaymentFun()"  class="btn" style="padding:9px 22px;margin-top:-19px;">{{'btn.cancel' | translate}}</a> 
				<a href="{{paymentDalpayURL}}" ng-click="makePaymentFun()" 
					ng-disabled="isRedirectToDalpay" class="btn btn-primary cust-btn animated fadeInUp">{{'btn.make.payment' | translate}}</a>
			</div> 
		</fieldset>
	</form>
	<form name="isAmountZeroForm" novalidate="" class="form-horizontal well" ng-show="isAmountZero">
		<br>
		 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
		<fieldset class="animated bounce">
			<h3 style="padding-left:50px;">{{'label.subscription.page'|translate}}</h3>
	 	 <div class="row paddedleft" style="margin-left:200px;">
			<table width="100%">
				<tr>
					<td width="30%"><strong>{{'header.package.name'|translate}}</strong></td>
					<td width="70%" class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planName}}</td>
				</tr>
				<tr>
					<td><strong>{{'header.contract.period'|translate}}</strong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{duration}}</td>
				</tr>
				<tr>
					<td><strong>{{'header.price'|translate}}</strong></td>
					<td class="animated pulse" style="color:#0088cc;font-size:1.5em;">:&nbsp;{{formData.planAmount}}</td>
				</tr>
				
			</table>
			</div><br/>
	       <div class="offset3">
				<a ng-click="cancelPaymentFun()"  class="btn">{{'btn.cancel' | translate}}</a> 
				<a ng-click="finishBtnFun()" class="btn btn-primary animated fadeInUp">{{'btn.subscribe' | translate}}</a>
			</div> 
			 
		</fieldset>
	</form>
</div> -->