<div class="col-md-12" data-ng-controller="CalendarController">  
    <h3 class="paddedleft"><strong>{{'label.heading.calendar' | translate}}</strong>
    	<span class="btn-group pull-right">
	        <label class="btn btn-primary" ng-click="switch1()" ng-model="dashModel" btn-radio="'home'">{{'label.heading.home' | translate}}</label>
	        <label class="btn btn-primary" ng-click="switchDash()" ng-model="dashModel" btn-radio="'dashboard'">{{'label.heading.dashboard' | translate}}</label>
	        <label class="btn btn-primary" ng-click="switchDef()" ng-model="definations" btn-radio="'definations'">{{'label.heading.definations' | translate}}</label>
	        <label class="btn btn-primary" ng-model="dashModel" btn-radio="'calendar'">{{'label.heading.calendar' | translate}}</label>
	    </span>
    </h3>
    <div id='calendar'></div>
    
    <script type="text/ng-template" id="calendarDetailsPopup.html">
	<form class="form-horizontal well" ng-submit="submit()">
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
			<table class="table">
        		<thead>
        			<tr class="graybg">
            			<th>{{'label.form.accountno' | translate}}</th>
            			<th style="padding-left:20px;">{{'table.heading.displayname' | translate}}</th>
						<th style="padding-left:20px;">{{'table.heading.plan' | translate}}</th>		
        			</tr>
        		</thead>
        		<tbody>
        			<tr ng-repeat="eventData in eventData">
            			<td>{{eventData.account_no}}</a></td>
            			<td>{{eventData.display_name}}</td> 
            			<td>{{eventData.plan}}</td> 
        			</tr>
					<tr><td colspan="5"><div data-ng-show="blockUI" class="offset3"><i class="icon-refresh icon-spin icon-large"></i>
					</div></td></tr>
        		</tbody>
    			</table>
	</form>
   <div class="modal-footer">
        <button id="cancel" class="btn btn-primary" ng-click="reject()">{{'button.close' | translate}}</button>
   </div>
</script>
</div>




