<div>
 	<ul class="breadcrumb">
    	<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li><a href="#/discounts">{{'label.managediscounts' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.createpromotioncode' | translate}}</li>
    </ul>
</div>
<form class="form-horizontal well" data-ng-controller="CreatePromotionController" data-ng-submit="submit()">
        <div class="error" data-ng-show="errorStatus || errorDetails">
		   <label>{{'label.contract.error' | translate}}</label>
		   <label data-ng-show="errorStatus">{{errorStatus}}</label>
		   <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>{{'label.createpromotioncode' | translate}}</legend>
			<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="promotionCode">{{ 'label.promotionCode' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="promotionCode" data-ng-model="formData.promotionCode"/>
           						</div>
         						</div>	
							 </td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountType">{{ 'label.discountType' | translate }}</label>
            					<div class="controls">
             					 <select id="discountType" data-ng-model="formData.discountType"  data-ng-options="promotiondata.mCodeValue as promotiondata.mCodeValue for promotiondata in promotiondatas">
             					 </select>
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="promotionDescription">{{ 'label.promotionDescription' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="promotionDescription" data-ng-model="formData.promotionDescription"/>
           						</div>
          						</div>
							</td>
								<td>
								<div class="control-group">
            					<label class="control-label" for="discountRate">{{ 'label.discountRate' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="discountRate" data-ng-model="formData.discountRate">
            					</div>
          						</div>
							</td>
							
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="durationType">{{ 'label.durationType' | translate }}</label>
            					<div class="controls">
              					 <select id="durationType" data-ng-model="formData.durationType"  data-ng-options="durationType.subscriptionType as durationType.subscriptionType for durationType in durationTypes">
             					 </select>
            					</div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="promotionduration">{{ 'label.duration' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="duration" data-ng-model="formData.duration">
           						 </div>
          						</div>
							</td>
							
							</tr>
							<tr>
							<td>
								<div class="control-group">
                        		<label class="control-label">{{ 'label.startDate' | translate }}</label>
                        		<div class="controls">
                            	<input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" data-is-open="opened2" min="minDate" 
                            	max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
                        		</div>
          						</div>
							</td>
							
							</tr>
							
					</table>
			
				</td>
			</tr>
			</table>
  			
          <div class="offset3">
            <a href="#/discounts"><button id="cancel" type="reset" data-ng-click="reset123()" class="btn">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
</form>