<div>
	<ul class="breadcrumb">
    	<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li><a href="#/discounts">{{'label.managediscounts' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.creatediscount' | translate}}</li>
    </ul>
</div>

<form class="form-horizontal well" data-ng-controller="CreateDiscountsController" data-ng-submit="submit()">
	<div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>Create Discount</legend>
			<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="discountCode">{{ 'label.discountCode' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="discountCode" data-ng-model="formData.discountCode">
           						</div>
         						</div>	
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountType">{{ 'label.discountType' | translate }}</label>
            					<div class="controls">
             					 <select id="discountType" data-ng-model="formData.discountType" data-ng-options="discounTypeData.mCodeValue as discounTypeData.mCodeValue for discounTypeData in discountTypeDatas">
             					 <option value="">{{'label.select.one' | translate}}</option></select>
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountDescription">{{ 'label.discountDescription' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="discountDescription" data-ng-model="formData.discountDescription">
           						 </div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountRate">{{ 'label.discountRate' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="discountRate" data-ng-model="formData.discountRate">
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group">
                        		<label class="control-label">{{ 'label.startDate' | translate }}</label>
                        		<div class="controls">
                            	<input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" data-is-open="opened2" min="minDate" 
                            	max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
                        		</div>
          						</div>
							</td>
							<td>
								<div class="control-group">
            					<label class="control-label" for="discountStatus">{{ 'label.status' | translate }}</label>
            					<div class="controls">
             					 <select  id="discountStatus" data-ng-model="formData.discountStatus"  data-ng-options="discountStatus.value as discountStatus.value for discountStatus in statusDatas">
             					 <option value="">{{'label.select.one' | translate}}</option></select>
            					</div>
          						</div>
								</td>
							</tr>	
					</table>
				</td>
			</tr>
			</table>
  			
          <div class="offset3">
            <a href="#/discounts"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
</form>