<div data-ng-controller="EditChargeVariantController">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/chargevariant">{{'label.chargevariant' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.edit.new.chargevariant' | translate}}</li>
		</ul>
	</div>
	<!-- <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div> -->
    <form name="editchargevariantform" class=" well" data-ng-submit="submit()">
    	<fieldset>
        	<legend>{{'label.edit.new.chargevariant' | translate}}</legend>
        	<table  width="100%">
               <tr>
                  <td style="padding-left: 195px;width:39%;">
          	          <div class="control-group">
            	          <label class="control-label" for="chargeVariantCode">{{'label.chargevariantcode' | translate }}<span class="required">*</span></label>
            	          <div class="controls">
              		          <input type="text" id="chargeVariantCode" name="chargeVariantCode" class="input-medium" data-ng-model="formData.chargeVariantCode" data-ng-maxlength="{{'code' | CodeValidate}}">
              		          <span data-ng-show = "createchargevariantform.chargeVariantCode.$dirty && createchargevariantform.chargeVariantCode.$invalid">
              			         <small class="error-row">{{'error.code.definition.length.validation'| translate}}
              			         </small>
              		          </span>
            	          </div>
          	          </div>
          	       </td>
          	       <td style="width:18%">
          	       </td>
          	       <td>
          	          <div class="control-group">
            	          <label class="control-label" for="StartDate">{{'label.chargevariantstartdate' | translate }}<span class="required">*</span></label>
            	          <div class="controls">
              		          <input type="text" id="startDate" name="startDate" data-ng-model="formData.startDate" class="input-medium"
              		          datepicker-pop="dd MMMM yyyy" data-ng-model="first.date" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
            	          </div>
          	          </div>
          	       </td>
          	  </tr>
          	  <tr>
                  <td style="padding-left: 195px;">
          	          <div class="control-group">
            	          <label class="control-label" for="status">{{ 'label.chargevariantstatus.status' | translate }}<span class="required" >*</span></label>
            	          <div class="controls">
              		          <select id=status name="status" data-ng-model="formData.status" class="input-medium" style="width:86%" data-ng-options="status.value as status.value for status in statuses" >
              		          <option value="">{{'label.select.one1' | translate}}</option></select>
            	          </div>
          	          </div>
          	       </td>
          	       <td>
          	       </td>
          	       <td>
          	          <div class="control-group">
            	          <label class="control-label" for="endDate">{{'label.chargevariantenddate' | translate }}<span class="required">*</span></label>
            	          <div class="controls">
              		          <input type="text" id="endDate" name="endDate" data-ng-model="formData.endDate" class="input-medium"
              		          datepicker-pop="dd MMMM yyyy" data-ng-model="first.date" is-open="opened" min="minDate" max="'2020-06-22'" date-disabled="disabled(date, mode)" required late-Validate />
            	          </div>
          	          </div>
          	       </td>
          	  </tr>
          </table>
          <table>
             <tr>
                <td  style="padding-left: 195px;width:48%;">
                    <div class="control-group">
            	        <label class="control-label" for="noofConnections">{{'label.chargevariantnoofconnections' | translate }}<span class="required">*</span></label>
                            <div class="control-group">
                                <select id="noofConnections" name="noofConnections" class="input-medium" style="width:95%" data-ng-model="formData.noofConnections" data-ng-options="noofConnections.value as noofConnections.value for noofConnections in noofConnectionses">
              		              <option value="">{{'label.select.one1' | translate}}</option></select>
                            </div>
                    </div>
                </td>
                <td style="width:25%">
                    <div class="control-group">
            	        <label class="control-label" for="type">{{'label.chargevarianttype' | translate }}<span class="required">*</span></label>
                           <div class="control-group">
                              <select id="type" name="type" data-ng-model="formData.type" class="input-medium"style="width:95%" data-ng-options="type.value as type.value for type in types">
              		          <option value="">{{'label.select.one1' | translate}}</option></select>
                           </div>
                    </div>
                </td>
                <td >
                     <div class="control-group">
            	        <label class="control-label" for="amount">{{'label.chargevariantamount' | translate }}<span class="required">*</span></label>
                           <div class="control-group">
                               <input type="text" id="amount" name="amount" class="input-medium" data-ng-model="formData.amount" placeholder="Amount" data-ng-pattern="{{'decimal' | CodeValidate}}">
                               <a data-ng-click="addReginalPrice()">&nbsp;<i class="icon-plus icon-white"></i></a>
                          </div>
                     </div>
                </td> 
            </table>
            <table class="table fullwidth" data-ng-show="regionPrices.length>0">
                <tr class="graybg">
                    <th>{{'table.heading.regionName' | translate}}</th>
                    <th>{{'table.heading.regionName' | translate}}</th>
                    <th>{{'label.amount' | translate}}</th>
                </tr>
                <tr data-ng-repeat="regionPrice in regionPrices" >
                    <td style="padding-left: 0">
                         <select data-ng-model="regionPrice.regionId" data-ng-options="regionData.id as regionData.regionName  for regionData in regionDatas" ></select>
                     </td>
                     <td style="padding-left: 0">
                         <select data-ng-model="regionPrice.regionId" data-ng-options="regionData.id as regionData.regionName  for regionData in regionDatas" ></select>
                     </td>
                     <td> 
                          <input type="text" data-ng-model="regionPrice.amount" placeholder="amount">
                      </td>
                      <td>
                         <a data-ng-click="removeRegionPrices($index)"><i class="icon-remove icon-white"></i></a>
                      </td>
                </tr>
            </table>
          <table>
                 <tr>
          	      <td style="padding-left: 700px;">
          	      </td>
          	      <td>
          	      </td>
          	      <td>
          	           <div class="offset3">
            	          <a href="#/chargevariant"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            	          <button  id="submit" type="submit" data-ng-disabled="editchargevariantform.$dirty && editchargevariantform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
          	           </div>
          	      </td>
          	  </tr>
          </table>
        </fieldset>
     </form>
</div>