<div data-ng-controller="EditDiscountsController">
	<div>
		<ul class="breadcrumb">
			<li><a href="#/organization">{{'link.admin.organisation' |
					translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/discounts">{{'label.managediscounts' |
					translate}}</a> <span class="divider">/</span></li>
			<li><a
				href="#/viewdiscounts/{{discountdetail.id}}">{{discountdetail.discountCode}}</a>
				<span class="divider">/</span></li>
			<li class="active">{{'label.editdiscounts' | translate}}</li>
		</ul>
	</div>
	<form class="form-horizontal well" data-ng-submit="submit()">
		<div class="error" data-ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label> <label
				data-ng-show="errorStatus">{{errorStatus}}</label> <label
				data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code
				| translate : error.args}}</label>
		</div>
		<fieldset>
			<legend>{{'label.editdiscounts' | translate}}</legend>
						<table>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="discountCode">{{
											'label.discountCode' | translate }}</label>
										<div class="controls">
											<input type="text" id="discountCode"
												data-ng-model="discountdetail.discountCode">
										</div>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control-label" for="discountType">{{
											'label.discountType' | translate }}</label>
										<div class="controls">
											<select data-ng-model="discountdetail.discountType"
												data-ng-options="discountTypeData.mCodeValue as discountTypeData.mCodeValue for discountTypeData in discountTypeDatas">
											</select>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="discountDescription">{{
											'label.discountDescription' | translate }}</label>
										<div class="controls">
											<input type="text" id="discountDescription"
												data-ng-model="discountdetail.discountDescription">
										</div>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control-label" for="discountRate">{{
											'label.discountRate' | translate }}</label>
										<div class="controls">
											<input type="text" id="discountRate"
												data-ng-model="discountdetail.discountRate">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="control-group">
										<label class="control-label" for="discountStartDate">{{
											'label.startDate' | translate }}</label>
										<div class="controls">
											<input type="text" data-datepicker-pop="dd MMMM yyyy"
												data-ng-model="start.startDate" data-is-open="opened2" min="minDate"
												max="'2020-06-22'" data-date-disabled="disabled(date, mode)" />
										</div>
									</div>
								</td>
								<td>
									<div class="control-group">
										<label class="control-label" for="status">{{
											'label.status' | translate }}</label>
										<div class="controls">
											<select data-ng-model="discountdetail.discountStatus"
												data-ng-options="status.value as status.value for status in statuses">
											</select>
										</div>
									</div>
								</td>
							</tr>
							<tr>
							<td align="right" colspan="2">
				       <a href="#/viewdiscounts/{{discountdetail.id}}"><button id="cancel" type="reset" class="btn">{{'label.cancel' |translate}}</button></a>
				      <button id="submit" type="submit" class="btn btn-primary">{{'label.save'| translate}}</button>
	           </td></tr></table>
		</fieldset>
	</form>
</div>
