<div>
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
		<li class="active">{{'label.manageoffices' | translate}}</li>
	</ul>
</div>

<div class="row-fluid" data-ng-controller="OfficesController">
 <tabset style="margin-bottom: 0px;"> 
	<tab heading="{{'tab.offices' | translate}}" select="getOffices()">
	<div class="pull-right">
	    <a data-ng-show="isTreeView" data-ng-click="isTreeView=!isTreeView" class="btn btn-primary"><i class="icon-list icon-white"></i>List View</a>
		<a data-ng-hide="isTreeView" data-ng-click="isTreeView=!isTreeView" class="btn btn-primary"><i class="icon-sitemap icon-white"></i>Tree View</a> 
		<a data-ng-show="PermissionService.showMenu('CREATE_OFFICE')" href="#/createoffice" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Office</a>
	</div>
	<div data-ng-hide="isTreeView">
		<input data-ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'placeholder.searchbar' | translate}}">
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{ 'table.heading.name' | translate }}</th>
					<!-- <th>{{ 'table.heading.office type' | translate }}</th> -->
					<th>{{ 'table.heading.external id' | translate }}</th>
					<th>{{ 'table.heading.parent office' | translate }}</th>
					<th>{{ 'table.heading.opened on' | translate }}</th>
					<th>{{ 'table.heading.actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="office in offices  | filter:filterText">
					<td class="pointer" data-ng-click="routeTo(office.id)">{{office.name}}</td>
				<!-- 	<td class="pointer" data-ng-click="routeTo(office.id)">{{office.officeType}}</td> -->
					<td class="pointer" data-ng-click="routeTo(office.id)">{{office.externalId}}</td>  
					<td class="pointer" data-ng-click="routeTo(office.id)">{{office.parentName}}</td>
					<td class="pointer" data-ng-click="routeTo(office.id)">{{office.openingDate | DateFormat}}</td>
					<td><a data-ng-show="PermissionService.showMenu('UPDATE_OFFICE')"
					href="#/editoffice/{{office.id}}" data-popover="Edit Office" data-popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div data-ng-show="isTreeView">
	<div
		data-angular-treeview="true"
		data-tree-id="treeview"
		data-tree-model="treedata"
		data-node-id="id"
		data-node-label="name"
		data-node-children="children" >
		</div>
	</div>
	</tab>
	
	<tab heading="{{'tab.partners' | translate}}" select="getPartners()" active="PartnersTab">
	<div class="pull-right">
<!-- 		<a data-ng-show="isTreeView" data-ng-click="isTreeView=!isTreeView" class="btn btn-primary"><i class="icon-list icon-white"></i>List View</a>
		<a data-ng-hide="isTreeView" data-ng-click="isTreeView=!isTreeView" class="btn btn-primary"><i class="icon-sitemap icon-white"></i>Tree View</a> -->
		<a data-ng-show="PermissionService.showMenu('CREATE_PARTNER')" href="#/createpartner" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Partner</a>
	</div>
	<div data-ng-hide="isTreeView">
		<input data-ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'placeholder.searchbar' | translate}}">
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>{{ 'table.heading.name' | translate }}</th>
					<th>{{ 'table.heading.partner type' | translate }}</th>
					<th>{{ 'table.heading.parent office' | translate }}</th>
					<th>{{ 'table.heading.partner currency' | translate }}</th>
					<th>{{ 'table.heading.office type' | translate }}</th> 
					<th>{{ 'table.heading.opened on' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pointer-main" data-ng-repeat="partner in partners  | filter:filterText">
					<td class="pointer">{{partner.partnerName}}</td>
				    <td class="pointer">{{partner.partnerType}}</td> 
					<td class="pointer">{{partner.parentName}}</td>
					<td class="pointer">{{partner.currency}}</td>  
		     	    <td class="pointer">{{partner.officeType}}</td> 
					<td class="pointer">{{partner.openingDate | DateFormat}}</td>
				</tr>
			</tbody> 
		</table>
	</div>
	<div data-ng-show="isTreeView">
	<div
		data-angular-treeview="true"
		data-tree-id="treeview"
		data-tree-model="treedata"
		data-node-id="id"
		data-node-label="name"
		data-node-children="children" >
		</div>
	</div>
	</tab>
	
</div>