<div data-ng-controller="ViewPartnerController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/offices" data-ng-click="partnersTab()">{{'label.managepartners' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{partner.partnerName}}</li>
	    </ul>
	    <div  class="pull-right">
	      <div class="btn-group">
	          <a href="#/createpartneragreement/{{partner.id}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>Create Agreement</a>
	      </div>
	    </div>
	</div>
	<div class="row paddedleft">
		<h3>{{partner.partnerName}}</h3>
		<table class="fullwidth">
			<tr>
				<td width="20%">{{ 'label.loginname' | translate }}:</td>
				<td width="70%">{{partner.loginName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.partnertype' | translate }}:</td>
				<td>{{partner.partnerType}}</td>
			</tr>
			<tr>
				<td>{{ 'label.office.parent office' | translate }}:</td>
				<td>{{partner.parentName}}</td>
			</tr>
			<tr>
				<td>{{ 'label.partner.created.on' | translate }}:</td>
				<td>{{partner.openingDate | DateFormat}}</td>
			</tr>	
			</table></div><br>
	<!-- 		 <h4>Contact Details</h4>
			<table class=" span2">
			<tr>
				<td width="20%">{{ 'label.email' | translate }}:</td>
				<td width="70%">{{partner.email}}</td>
			</tr>	
			<tr>
				<td >{{ 'label.city/area' | translate }}:</td>
				<td >{{partner.city}}</td>
			</tr>
			<tr>
				<td>{{ 'label.state' | translate }}:</td>
				<td>{{partner.state}}</td>
			</tr>
			<tr>
				<td>{{ 'label.country' | translate }}:</td>
				<td>{{partner.country}}</td>
				</tr>
		</table> -->
	<tabset  style="margin-bottom: 0px;">
    <tab heading="Contact Details">
     <br>
       <div>
         <!--   <input data-ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by User Name"> -->
        <table class="table">
          <thead>
            <tr class="graybg">
                   <th>{{ 'label.city/area' | translate }}</th>
				   <th>{{ 'label.state' | translate }}</th>
                   <th>{{ 'label.country' | translate }}</th>
				   <th>{{ 'label.email' | translate }}</th>
            </tr>
          </thead>
          <tbody>
             <tr>
                <td>{{partner.city}}</td>
                <td>{{partner.state}}</td>
                <td>{{partner.country}}</td>                     
                <td>{{partner.email}}</td>       
             </tr>
          </tbody>
         </table>
        </div>
      </tab>
    <tab heading="Agreement Details" select="getAgreement()">
     <br>
       <div>
       <input data-ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'placeholder.searchbar' | translate}}">
        <table class="table">
          <thead>
            <tr class="graybg">
				   <th>{{'table.heading.source' | translate}}</th>
				   <th>{{'label.agreementstatus' | translate}}</th>
                   <th>{{'table.heading.sharetype' | translate}}</th>
                   <th>{{'table.heading.royaltyshare' | translate}}</th>
                   <th>{{'label.contreffectdate' | translate}}</th>
                   <th>{{'label.contrenddate' | translate}}</th>
                   <th>{{'table.heading.status' | translate}}</th>
            </tr>
          </thead>
          <tbody>
             <tr data-ng-repeat="agreement in agreements | filter:filterText">
                <td>{{agreement.source}}</td>       
                <td>{{agreement.agreementStatus}}</td>
                <td>{{agreement.shareType}}</td>
                <td>{{agreement.shareAmount}}</td>
                <td>{{agreement.startDate | DateFormat}}</td>
                <td>{{agreement.endDate | DateFormat}}</td> 
                <td>{{agreement.status.value}}</td>                  
             </tr>
          </tbody>
         </table>
        </div>
      </tab>
    </tabset>
	</div>
