<div data-ng-controller="ViewPartnerController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/offices" data-ng-click="partnersTab()">{{'label.managepartners' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{partner.partnerName}}</li>
	    </ul>
	    <div  class="pull-right">
	      <div class="btn-group">
	          <a href="#/itemsale/{{partner.officeId}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>Item Sale</a>
	          <a href="#/officepayments/{{partner.officeId}}" class="btn btn-primary"><i class="icon-usd icon-white"></i>Payment</a>
	          <a href="#/officeadjustments/{{partner.officeId}}" class="btn btn-primary"><i class="icon-adjust icon-white"></i>Adjustment</a>
	          <a href= #/createpartneragreement/{{partner.id}} class="btn btn-primary"><i class="icon-plus icon-white"></i>Create Agreement</a> 
	      </div>
	    </div>
	</div>
	<div class="row-fluid">
		<h3>{{partner.partnerName}}</h3>
		<div class="span6">
					<table class="fullwidth">
						<tr>
							<td width="35%">{{ 'label.loginname' | translate }}:</td>
							<td width="65%">{{partner.loginName}}</td>
						</tr>
						<tr>
							<td>{{ 'label.office.parent office' | translate }}:</td>
							<td>{{partner.parentName}}</td>
						</tr>
						<tr>
							<td>{{ 'label.partner.created.on' | translate }}:</td>
							<td>{{partner.openingDate | DateFormat}}</td>
						</tr>
						<tr>
							<td>IsCollective:</td>
							<td>{{partner.isCollective}}</td>
						</tr>

					</table></div>
			   <div class="span4">
					<table class="fullwidth">
						<tr>
							<td width="35%">{{'label.Address' | translate}}</td>
							<td width="65%">{{partner.city}}<strong>,</strong>{{partner.state}}
							</td>
						</tr>
						<tr>
							<td>{{ 'label.country' | translate }}:</td>
							<td>{{partner.country}}</td>
						</tr>
						<tr>
							<td>{{ 'label.email' | translate }}</td>
							<td>{{partner.email}}</td>
						</tr>
							<tr>
							<td>{{ 'label.partner.phone' | translate }}:</td>
							<td>{{partner.phoneNumber}}</td>
						</tr>
					</table></div>
	</div><br>
 	<tabset  style="margin-bottom: 0px;">
   <tab heading="Office Financial Transactions">
     <br>
       <div>
           <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'placeholder.searchbar' | translate}}">
          
        <table class="table">
          <thead>
            <tr class="graybg">
				   <th>Transaction Id</th>
                   <th>User Name</th>
				   <th>Office Id</th>
                   <th>Transaction Date</th>
                   <th>Transaction Type</th>
                   <th>Transaction Category</th>
                   <th>Credit Amount</th>
                   <th>Debit Amount</th>
            </tr>
          </thead>
          <tbody>
             <tr data-ng-repeat="officeFinTran in officeFinanceTrans | filter:filterText">
                <td>{{officeFinTran.transactionId}}</td>       
                <td>{{officeFinTran.userName}}</td>
                <td>{{officeFinTran.officeId}}</td>
                <td>{{officeFinTran.transDate | DateFormat}}</td>         
                <td>{{officeFinTran.transactionType}}</td>        
                <td>{{officeFinTran.transactionCategory}}</td>         
                <td>{{officeFinTran.creditAmount}}</td> 
                <td>{{officeFinTran.amount}}</td>              
             </tr>
          </tbody>
         </table>
        </div>
      </tab>
    <tab heading="Agreement Details" select="getAgreement()" active="AgreementTab">
     <br>
       <div>
       <input data-ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'placeholder.searchbar' | translate}}">
        <table class="table">
          <thead>
            <tr class="graybg">
				   <th>{{'label.agreementstatus' | translate}}</th>
                   <th>{{'label.contreffectdate' | translate}}</th>
                   <th>{{'label.contrenddate' | translate}}</th>
                   <th>Actions</th>
            </tr>
          </thead>
          <tbody>
             <tr data-ng-show="agreements.id">      
                <td>{{agreements.agreementStatus}}</td>
                <td>{{agreements.startDate | DateFormat}}</td>
                <td>{{agreements.endDate | DateFormat}}</td> 
                <td><a data-ng-show="PermissionService.showMenu('UPDATE_PARTNERAGREEMENT')" 
							href="#/editpartneragreement/{{agreements.id}}/{{partner.id}}" data-popover="Edit Agreement" data-popover-trigger="mouseenter">
                    		<i class="icon-edit icon-white"></i> </a></td>                  
             </tr>
          </tbody>
         </table>
        </div>
      </tab>
    </tabset>
	</div>
