<div data-ng-controller="VoucherpinController" >
  <div>
    <ul class="breadcrumb">
        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.ManageVoucherpins' | translate}}</li>
    </ul>
    <div class="error" data-ng-show="errorStatus || errorDetails" style="margin:0px;">
			<label>{{'label.error' | translate}}</label>
			<label data-ng-show="errorStatus">{{errorStatus}}</label>
			<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
    <div class="pull-right">
    	<!-- <button id="process" class="btn btn-min btn-default " data-ng-click="exportBatch('false')">Process</button>
    	<button id="export" class="btn btn-min btn-default "  data-ng-click="exportBatch('true')">{{'button.exportBatch' | translate}}</button> -->
    	<button data-ng-hide="isVouchersBatchWise == 'true'" id="selectVouchers"  data-ng-click="onSelectVouchers()" class="btn btn-primary" >View Vouchers</button>
    	<button data-ng-show="isVouchersBatchWise == 'true'" id="selectVouchers" data-ng-click="onSelectVoucherPins()" class="btn btn-primary" ><img src="./images/backimg.png" width="20px" height="20px">Back to Vouchers</button>
        <a data-ng-hide="isVouchersBatchWise == 'true'" data-ng-show="PermissionService.showMenu('CREATE_VOUCHER')" href="#/createvoucherpin" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'link.create.new.voucherpin' | translate }}</a>
        <button data-ng-show="isVouchersBatchWise == 'true'" id="selectVouchers" data-ng-click="updateVouchers()" class="btn btn-primary" >Update</button>
        <button data-ng-show="isVouchersBatchWise == 'true'" id="selectVouchers" data-ng-click="deleteVouchers()" class="btn btn-primary" >Delete</button>
    </div>
</div>

<div class="row-fluid">
	<div class="span marginbottom0px" data-ng-show="isVouchersBatchWise == 'true'">
		<select id="batchNameDatas" data-ng-model="searchData.batchName" chosen="batchNameDatas" ng-autofocus="true" style="background: url("../images/chosen-sprite.png");" 
			data-ng-options="batchData.batchName as batchData.batchName for batchData in batchNameDatas" placeholder="Batch Name" value="{{batchData.batchName}}">  
		 	<option class="displaynone" value="">---Batch Name---</option>
		</select>
		<select id="pinTypeDatas" data-ng-model="searchData.pinType" chosen="pinTypeDatas" ng-autofocus="true" style="background: url("../images/chosen-sprite.png");" 
		 	placeholder="pinType" value="{{pinTypeData.value}}">  
		 	<option class="displaynone" value="">---PinType---</option>
		 	<option value="VALUE" >VALUE</option>
			<option value="PRODUCT" >PRODUCT</option>
		</select>
		<select id="status"  ng-model="searchData.status" chosen="status" ng-autofocus="true" style="background: url("../images/chosen-sprite.png");">
			<option class="displaynone" value="">---Status---</option>
			<option value="NEW" >NEW</option>
			<option value="USED" >USED</option>
		</select>
	
   	 	<a data-ng-click="search()" class="btn btn-primary control" data-popover="Search" data-popover-trigger="mouseenter"><i class="icon-search icon-white"></i></a>
    	<a data-ng-click="clearFilters()" class="btn btn-primary control" data-popover="Clear" data-popover-trigger="mouseenter"><i class="icon-remove-sign"></i></a>
    	<form data-ng-submit="search()">
			<input data-ng-model="searchData.sqlSearch" type="text" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}">
    	</form>
	</div>
    <form data-ng-hide="isVouchersBatchWise == 'true'">
		<input data-ng-model="filterText" type="text" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}">
    </form>
    <table class="table" data-ng-hide="isVouchersBatchWise == 'true'">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.heading.batchName' | translate }}</th>
                <th>{{ 'table.heading.pinCategory' | translate }}</th> 
                <th>{{ 'table.heading.officeId' | translate }}</th>
                <th>{{ 'table.heading.length' | translate }}</th>
                <th>{{ 'table.heading.beginWith' | translate }}</th>
                <th>{{ 'table.heading.quantity' | translate }}</th> 
                <th>{{ 'table.heading.serialNo' | translate }}</th>
                <th>{{ 'table.heading.pinType' | translate }}</th>
                <th>{{ 'table.heading.pinValue' | translate }}</th>
                <th>{{ 'table.heading.product' | translate }}</th>
                <th>{{ 'table.heading.expiryDate' | translate }}</th> 
                <th>{{ 'table.heading.actions' | translate }}</th> 
               
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="voucherpin in voucherpins | filter:filterText">
                       
                <td>{{voucherpin.batchName}}</td>
                <td>{{voucherpin.pinCategory}}</td>  
                <td>{{voucherpin.officeId}}</td>        
                <td>{{voucherpin.length}}</td>  
                <td>{{voucherpin.beginWith}}</td>        
                <td>{{voucherpin.quantity}}</td>       
                <td>{{voucherpin.serialNo}}</td>  
                <td>{{voucherpin.pinType}}</td>        
                <td>{{voucherpin.pinValue}}</td>
                <td>{{voucherpin.planCode}}</td> 
                <td>{{voucherpin.expiryDate|DateFormat}}</td>
                <td><a data-ng-show="(voucherpin.isProcessed == 'N')&&((voucherpin.id)!=dynamicVar)&&(PermissionService.showMenu('PROCESS_RANDAMGENERATOR'))" 
                		 data-ng-click="processFile(voucherpin.id)" data-popover="Process File" data-popover-trigger="mouseenter"><i class="icon-play icon-white"></i></a>      
                   <a  data-ng-show="voucherpin.isProcessed == 'Y'" data-ng-click="downloadFile(voucherpin.id)" data-popover="Download Voucher File" data-popover-trigger="mouseenter"><i class="icon-cloud-download"></i></a>
                   <img alt="Loading"  data-ng-src="./images/spinner.gif" width="30" height="30" data-ng-show="((voucherpin.id)==dynamicVar)&&(voucherpin.isProcessed == 'N')">
                </td>  
            </tr>
        </tbody>
    </table>
    
	<table class="table" ng-show="isVouchersBatchWise == 'true'">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.heading.batchName' | translate }}</th>
                <!-- <th>{{ 'table.heading.pinCategory' | translate }}</th> -->
                <th>{{ 'table.heading.officeId' | translate }}</th>
                <!-- <th>{{ 'table.heading.length' | translate }}</th>
                <th>{{ 'table.heading.beginWith' | translate }}</th>
                <th>{{ 'table.heading.quantity' | translate }}</th> -->
                <th>{{ 'table.heading.serialNo' | translate }}</th>
                <th>{{ 'table.heading.pinType' | translate }}</th>
                <th>{{ 'table.heading.pinValue' | translate }}</th>
                <!-- <th>{{ 'table.heading.product' | translate }}</th>
                <th>{{ 'table.heading.expiryDate' | translate }}</th> -->
                <!-- <th>{{ 'table.heading.actions' | translate }}</th> -->
                <th>{{'table.ippooling.clientId' | translate}}</th>
                <th>{{'table.heading.status' | translate}}</th>
                <!-- <th>Select <input type="checkbox" data-ng-change="checkAll()" data-ng-model="selectedAll" id="selectedAll" /></th> -->
                <th><input type="checkbox" id="activeallId" ng-model="activeall" ng-true-value="true" ng-false-value="false"
                     ng-change="selectAll(activeall)">{{'label.selectall' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="voucherpin in voucherpinsBatchwise.currentPageItems | filter:filterText">
                       
                <td>{{voucherpin.batchName}}</td>
               <!--  <td>{{voucherpin.pinCategory}}</td>  -->   
                <td>{{voucherpin.officeId}}</td>        
                <!-- <td>{{voucherpin.length}}</td>  
                <td>{{voucherpin.beginWith}}</td>        
                <td>{{voucherpin.quantity}}</td>  -->       
                <td>{{voucherpin.serialNo}}</td>  
                <td>{{voucherpin.pinType}}</td>        
                <td>{{voucherpin.pinValue}}</td> 
                <!-- <td>{{voucherpin.planCode}}</td> 
                <td>{{voucherpin.expiryDate|DateFormat}}</td>  -->
               <!--  <td><a data-ng-show="(voucherpin.isProcessed == 'N')&&((voucherpin.id)!=dynamicVar)&&(PermissionService.showMenu('PROCESS_RANDAMGENERATOR'))" 
                		 data-ng-click="processFile(voucherpin.id)" data-popover="Process File" data-popover-trigger="mouseenter"><i class="icon-play icon-white"></i></a>      
                   <a  data-ng-show="voucherpin.isProcessed == 'Y'" data-ng-click="downloadFile(voucherpin.id)" data-popover="Download Voucher File" data-popover-trigger="mouseenter"><i class="icon-cloud-download"></i></a>
                   <img alt="Loading"  data-ng-src="./images/spinner.gif" width="30" height="30" data-ng-show="((voucherpin.id)==dynamicVar)&&(voucherpin.isProcessed == 'N')">
                </td>  --> 
                <td>{{voucherpin.clientId}}</td>
                <td>{{voucherpin.status}}</td>
                <td><input type="checkbox" id="{{voucherpin.id}}" ng-model="active" ng-true-value="true" ng-false-value="false"
                     ng-change="checkSingle(voucherpin, active)"></td>
            </tr>
        </tbody>
    </table>
    <ul ng-show="isVouchersBatchWise == 'true'" class="pager">
        <li class="previous"><a data-ng-click="voucherpinsBatchwise.previous()" href="" data-ng-disabled="!voucherpinsBatchwise.hasPrevious()">&larr; Prev</a></li>
        <li class="next" ><a data-ng-click="voucherpinsBatchwise.next()" href="" data-ng-disabled="!voucherpinsBatchwise.hasNext()">Next &rarr;</a></li>
	</ul>
</div>
<script type="text/ng-template" id="updateVouchers.html"> 
	<form name="downloadCSVform" novalidate="" class="form-horizontal well">
		<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   	</div>
		<fieldset>
			<legend >Update</legend>
			<table width="100%">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="status">{{ 'label.batchName' | translate }}<span class="required">*</span></label>
						<div class="controls">
							<select ng-model="batchNameId" required>
								<option value="LOST">LOST</option>
								<option value="DAMAGE">DAMAGE</option>
          					</select>
						</div>
					</div>
				</td>
			</tr>
			</table>
			<div class="modal-footer">
				<button id="cancel" class="btn btn-warning" ng-click="reject()">{{'button.cancel' | translate}}</button>
				<button id="submit" class="btn btn-primary" ng-click="accept(batchNameId)" ng-disabled="!downloadCSVform.$valid||flag">{{'label.confirm' | translate}}</button>
			</div>
		</fieldset>
	</form>
</script>
<script type="text/ng-template" id="deletevouchers.html">
	<div class="modal-header silver">
    	<h3 class="bolder">Delete Vouchers</h3>
    </div>
    <div class="modal-body modal-small">
    	<h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
    	<button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
   	</div>
</script>
</div>

 