<!-- <div  action="https://netgreidslur.korta.is/testing/"> -->
<div>
	<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.add.kota.Info' | translate}}</li>
 	</ul>
 <form name="kortaInfoForm" novalidate="" action="https://netgreidslur.korta.is/testing/" method="post" class="form-horizontal well" ng-controller="KortaController">
<input name="amount" type="hidden" value="{{formData.amount}}">
<input name="currency" type="hidden" value="{{formData.currency}}">
<input name="merchant" type="hidden" value="8185318">
<input name="terminal" type="hidden" value="26460">
<input name="description" type="hidden" value="{{formData.description}}">
<input name="token" type="hidden" value={{token}}>
<input name="do" type="hidden" value="{{formData.doAction}}">
<input name="lang" type="hidden" value="{{formData.optlang}}">

<input type="hidden" name="name" value="ashok">
<input type="hidden" name="address" value="address">
<input type="hidden" name="email" value="ashokcse556@gmail.com">
<input type="hidden" name="email2" value="ashokcse556@gmail.com">
<input type="hidden" name="zip" value="505502">
<input type="hidden" name="city" value="KarimNagar">
<input type="hidden" name="country" value="India">
<input type="hidden" name="phone" value="9441443093">
<input type="hidden" name="terms" value="Y">
<input type="hidden" name="readonly" value="Y">


<input name="checkvaluemd5" type="text" value={{formData.md5value}}>
<input type="hidden" name="downloadurl" value="https://49.205.73.175:5560/Clientapp/app/index.html#/kortasuccess">
<input type="hidden" name="refermethod" value="POST">
<input type="hidden" name="refertarget" value="_top">

<!-- Note that checkvaluemd5 is a calculated variable in your code and is calculated like that: checkvaluemd5=md5(amount + currency + merchant + terminal + description + secretcode). You get the secretcode in the KORTA Service Gateway and it needs to be kept totally secret in order to prevent anyone from falsifying a payment order on your behalf into the KORTA webpayment system. THERE ARE variations of checkvaluemd5 for example if you use UTF-8 or ASP. Further information in our manual.

checkvaluemd5=md5(amount + currency + merchant + terminal + description + do + secretcode + "TEST")
; -->

<!-- checkvaluemd5 = md5("100.00"+"ISK"+"8185318"+"26460"+"AshokReddy"+"STORAGE"+ xxxxxxxxxxxxx +"TEST"); -->
<!-- $md5stringdata = amount + currency + merchantid + terminal + $description + / + do + // + token -->
		<fieldset>
			<legend>{{'label.add.kota.Info' | translate}}</legend>
			 <div class="control-group">
       			 <label class="control-label">{{ 'label.amount' | translate}}<span class="required">*</span></label>
        		<div class="controls">
          			<input type="text" ng-model="formData.amount" reqiured late-Validate />
        		</div>
      		</div>
			<div class="control-group">
				<label class="control-label" >{{ 'label.currency' | translate }}<span class="required">*</span></label>
				<div class="controls">
					 <select ng-model="formData.currency"  ng-options="currencydata.code as currencydata.displayLabel for currencydata in currencydatas" value="{{currencydata.code}}" reqiured late-Validate>
					 </select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >{{'label.description' | translate}}<span class="required">*</span></label>
				<div class="controls">
					<textarea rows="2" ng-model="formData.description" reqiured late-Validate></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >{{ 'label.do.action' | translate }}<span class="required">*</span></label>
				<div class="controls">
					 <select ng-model="formData.doAction"  ng-options="doActionType.name for doActionType in doActionTypes" value="{{doActionType.name}}" reqiured late-Validate>
					 </select>
				</div>
			</div>
			<!-- <div class="control-group">
				<label class="control-label" >{{ 'label.heading.language' | translate }}<span class="required">*</span></label>
				<div class="controls">
					 <select ng-model="formData.optlang"  ng-options="lang.name for lang in langs" value="{{lang.name}}" reqiured late-Validate>
					 </select>
				</div>
			</div> -->
			
		</fieldset>
		   <div class="offset3">
		  	 <a id="cancel" href='#/clients' class="btn">Cancel</a>
     	       <button id="submit" type="submit" ng-click="submitFun()" class="btn btn-primary">Submit</button>
          </div>
</form>
</div>
